.columns {
	
	img {
		max-width: 100%;
	}

	&-padding {
		&--top {
			.container {
				padding-bottom: 0;
			}
		}
		&--bottom {
			.container {
				padding-top: 0;
			}
		}
		&--none {
			.container {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	&-text {
		&--dark {
		}
		&--light {
			color: #fff;
		}
	}

}