.b-page-content {
    @include animation( fadeInUp, 1s, both, $ease-out-expo, 0s);
    width: 100%;

    &--offset {

        @include bp($breakpoint-navigation-mobile, max) {
            padding-top: $height-navigation-mobile;
        }

        @include bp($breakpoint-navigation-desktop) {
            padding-top: $height-navigation-desktop;
        }
    }
}
