.b-page-navigation {
    @include z-index(header);
    position: relative;
    padding: 2rem 0;

    &__container {
        @include container;
        @include clearfix;
        position: relative;
    }

    &__logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../img/logo-black.svg) left center no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 120px;
        z-index: 101;

        @include bp(sm) {
            width: 120px;
        }
    }

    &__list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        overflow-y: auto;
        display: none;
        padding: 50px 5% 5%;

        @include bp(md) {
            display: block;
            float: right;
            position: relative;
            top: auto;
            left: auto;
            padding: 0;
            width: auto;
            overflow-y: visible;
        }
    }

    .c-mobile-toggle {
        float: right;

        @include bp(md) {
            display: none;
        }
    }
}

body.has-open-navigation {
    overflow: hidden;

    .b-page-navigation__list {
        display: block;
        background: $brand-color;
        border-top: 6.5rem solid $brand-color;
        padding-top:0;

        @include bp(sm) {
            background: none;
        }
    }
}
