// base helper classes

.h-clickable {
    position: relative;
    cursor: pointer;
    display: block;

    &__item {
        @include overlay(transparent, 0);
    }
}

.h-wysiwyg-html {
    @include wysiwyg-html;
}

body {

    .h-hidden {
        display: none;
    }

    .h-visible-mobile {
        @include bp(sm,max) {
            display: block;
        }
    }

    .h-visible-laptop {
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
            display: block;
        }
    }

    .h-visible-desktop {
        @include bp(xl) {
            display: block;
        }
    }

    .h-visible-all {
        display: block;
    }
}

.h-youtube-wrapper {
    padding-top: 56.25%;
    position: relative;
    background: #000;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}