/**
 * Define the global variables used across the project here.
 *
 * 1) Always create variables with a meaningful context.
 * 2) Avoid defining component specific variables on the global level.
 * 3) See other files in the base folder for more global styles.
 */

// Project colors (do not directly reference outside this file).
$color-black-almost:        #222;
$color-green-bright:        #0ac572;
$color-grey:                #666;
$color-grey-light:          #eee;
$color-grey-dark:           #444;
$color-white-almost:        #f6f6f6;

// Bind colors to meaningful variables.
$color-brand:               $color-green-bright;
$color-text:                $color-grey;
$color-heading:             #000;
$color-body:                #fff;
$color-link:                $color-green-bright;
$color-link-hover:          darken($color-green-bright, 15%);
$color-overlay:             darken($color-brand, 35%);

/**
 * Font sizes for responsive scalability (used by @mixin font-size).
 *
 * Define new sizes as needed.
 */

$font-sizes: (
    sm:     (xs: 14px, sm: 14px, md: 14px, lg: 14px, xl: 14px),
    md:     (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px),
    lg:     (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px),
    button: (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px),
    h6:     (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px),
    h5:     (xs: 18px, sm: 18px, md: 18px, lg: 18px, xl: 18px),
    h4:     (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px),
    h3:     (xs: 22px, sm: 22px, md: 24px, lg: 24px, xl: 24px),
    h2:     (xs: 30px, sm: 32px, md: 36px, lg: 36px, xl: 36px),
    h1:     (xs: 34px, sm: 36px, md: 42px, lg: 48px, xl: 48px)
);

// Set the document base font size.
$font-size-base:            md;

// Font families
$font-family-default:       "Roboto", Helvetica, Arial, sans-serif;
$font-family-heading:       $font-family-default;

// Font weights
$font-weight-default:       400;
$font-weight-strong:        700;
$font-weight-heading:       $font-weight-strong;

// Line heights
$line-height-base:          1.628571429;
$line-height-heading:       1.2;

/**
 * Spacing sizes for responsive scalability (used by @mixin spacing).
 *
 * Define new sizes as needed.
 */

$spacing-sizes: (
    section:        (xs: 25px, sm: 35px, md: 60px, lg: 80px, xl: 100px),
    itemspace:      (xs: 20px, sm: 25px, md: 30px, lg: 40px, xl: 50px),
    box:            (xs: 10px, sm: 15px, md: 20px, lg: 20px, xl: 20px)
);

// Border radiuses
$border-radius-default:     5px;
$border-radius-small:       2px;
$border-radius-large:       15px;

// Box shadows
$box-shadow-default:        0 1px 4px 0 rgba(0, 0, 0, 0.3);
$box-shadow-large:          0 3px 40px 0 rgba(0, 0, 0, 0.2);

// Border colors
$border-color-default:      #ccc;
$border-color-light:        #f4f4f4;

// Animation easing methods
$ease-out-expo:             cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-out-sine:             cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-quart:         cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Transitions
$transition-default:        all 0.5s $ease-out-expo;
$transition-fast:           all 0.25s $ease-out-expo;
$transition-slow:           all 1s $ease-out-sine;
$transition-slide:          all 1s $ease-in-out-quart;

// Opacity
$opacity-overlay:           0.5;

/**
 * Core variables.
 *
 * Take care in changing the following values as they can fundamentally
 * change the behavior of the site.
 */

// Bootstrap grid extensions
$screen-xl:                 1600px;
$screen-xl-min:             $screen-xl;
$screen-lg-max:             $screen-xl-min - 1;

// Grid container
$container-max-width:       1270px;
$container-width:           90%;
$container-gutter-width:    5%;
$container-sm-max:          100%;
$container-md-max:          100%;
$container-lg-max:          1170px;
$container-xl-max:          1241px;

// CSS animation minimum window width.
$animated-min-width:        1025px;

/**
 * Brand color profiles. Find more at: http://brandcolors.net
 *
 * Use map with the "brand" helper function:
 *
 *   color: brand(facebook);
 *   background-color: brand(instagram);
 */

$brand-colors: (
    airbnb:         #fd5c63,
    android:        #a4c639,
    bandcamp:       #629aa9,
    behance:        #1769ff,
    blogger:        #f57d00,
    deviantart:     #05cc47,
    disqus:         #2e9fff,
    etsy:           #d5641c,
    facebook:       #3b5998,
    flickr:         #ff0084,
    foursquare:     #2d5be3,
    google-plus:    #dc4e41,
    html5:          #e34f26,
    imdb:           #f5de50,
    imgur:          #85bf25,
    instagram:      #405de6,
    kickstarter:    #2bde73,
    linkedin:       #0077b5,
    medium:         #00ab6b,
    myspace:        #000000,
    patreon:        #e6461a,
    periscope:      #3aa4c6,
    pinterest:      #bd081c,
    quora:          #a82400,
    reddit:         #ff4500,
    rss:            #f26522,
    shopify:        #96bf48,
    skype:          #00aff0,
    soundcloud:     #ff8800,
    spotify:        #2ebd59,
    stackoverflow:  #fe7a15,
    streamable:     #0f90fa,
    tripadvisor:    #589442,
    tumblr:         #35465c,
    twitch-tv:      #6441a5,
    twitter:        #55acee,
    vimeo:          #162221,
    vine:           #00b488,
    vkontakte:      #45668e,
    yahoo:          #410093,
    youtube:        #cd201f
);
