@mixin circle($radius) {
    border-radius: 50%;
    height: $radius;
    width: $radius;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
