/*

Feel free to customize heavily.

Being used in @mixin wysiwyg-html;

 */

@mixin table( $table-color: $color-body, $table-text-color: $color-text, $table-headline-color: $color-heading) {

    width: 100%;
    border: 1px solid darken($table-color, 10%);

    tr {
        border-top: 1px solid darken($table-color, 10%);
    }

    td,
    th {
        padding: 0.2em 1em;
        text-align: left;
    }

    th {
        background: darken($table-color, 5%);
        color: $table-headline-color;
    }

    td {
        background: $table-color;
        color: $table-text-color;
    }
}
