.breadcrumbs {
    list-style: none;
    padding: rem(5);
    margin: 0 0 10px 0;
    background: #eee;
    li {
        display: inline-block;
        position: relative;
        &:before {
            content: "\f101";
            font-family: "FontAwesome";
            padding-right: 3px;
        }
        &:first-child {
            &:before {
                content: "";
            }
        }
        a {
            padding: 0;
        }
    }
}
