/*form styles*/

.form {
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    &__group {
        width: 100%;
        margin-bottom: 10px;
    }
    label {
        width: 100%;
        text-transform: capitalize;
    }
    input[type="text"], input[type="number"], input[type="email"], select, textarea {
        border: none;
        width: 100%;
        padding: 10px;
        margin: 2px 0;
        background: #fff;
        border: 1px solid #ccc;
        -webkit-appearance: none;
        &:focus {
            outline: 0;
        }
    }
    input[type="checkbox"], input[type="radio"] {
        margin-left: 10px;
    }
    input[type='submit'] {
        width: auto;
    }
    textarea {
        resize: vertical;
    }
    &__select {
        width: 100%;
        overflow: hidden;
        background: url(../../img/select-arrow.png) no-repeat 99% #fff;
        border: 1px solid #ccc;
        select {
            background: transparent;
            width: 120%;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 1;
            border: none;
            border-radius: 0;
        }
    }
}
