//additions to the bootstrap grid
.row {
  &--no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    
    [class*=" col-"], [class^=col-], > div {
      padding-right: 0;
      padding-left: 0;
    }
  }
}