//basic nav bar for re use
 .nav {
     &__list {
         &, ul {
             padding: 0;
             margin: 0;
             list-style-type: none;
         }
         li {
             display: inline-block;
             position: relative;
             width: auto;
             padding: 0 10px;
             @include transition(all, 0.3s, ease-in-out);
         }
         li a {
             text-transform: uppercase;
         }
         &--bar {
             li {
                 background: $brand-color;
                 padding: 10px 20px;
                 &:hover {
                     background: lighten($brand-color, 4%);
                 }
             }
             li a {
                 color: #fff;
             }
             li ul {
                 position: absolute;
                 top: 100%;
                 left: 0;
                 width: 150%;
                 @include transition(all, 0.3s, ease-in-out);
                 opacity: 0;
                 visibility: hidden;
             }
             li:hover ul {
                 opacity: 1;
                 visibility: visible;
                 li:hover {
                     background: lighten($brand-color, 5%);
                 }
             }
             li ul li {
                 display: block;
                 float: none;
                 width: 100%;
                 background: lighten($brand-color, 4%);
             }
         }
     }
 }
