//basic nav bar for re use
 .nav {
     &__list {

         //by default its a vertical nav
         &, ul {
             padding: 0;
             margin: 0;
             list-style-type: none;
         }
         li {
             position: relative;
             width: 100%;
             
             a {
                padding: 10px 20px;
                display: block;
                width: 100%;
             }
         }

         li ul {
             display: none;
         }
         
         li:hover ul {
             display: block;
         }

         li ul li {
             display: block;
             float: none;
             width: 100%;
         }
         
         //and modifier for a horizontal bar
         &--bar {

            @include bp($mobile-menu-toggle){
                 li {
                    display: inline-block;
                    float: left;
                    width: auto;
                 }
                 
                 li ul {
                    opacity: 0;
                    visibility: hidden;
                 }

                 li:hover ul {
                     opacity: 1;
                     visibility: visible;
                 }
             }
         }
     }
 }
