.accordion {
    position: relative;
    &__title {
        padding: 10px;
        background: #ccc;
    }
    &__content {
        background: #eee;
        padding: 10px;
    }
    &--tabs {
        .accordion__navbar {
            display: none;
        }
        .accordion__group {
            float: left;
            width: 100%;
            .accordion__content {
                display: none;
            }
            &.is-active {
                .accordion__content {
                    display: block;
                }
            }
        }
        @media(min-width:768px) {
            .accordion__navbar {
                display: block;
                ul {
                    margin: 0;
                    width: 100%;
                    li {
                        background: #ccc;
                        padding: 10px;
                        display: block;
                        float: left;
                        &:hover, &.is-active {
                            background: #eee;
                        }
                    }
                }
            }
            .accordion__title {
                display: none;
            }
        }
    }
}
