html {
    overflow-y: scroll;
    box-sizing: border-box;
    font-size: 8px;

    @include bp(xs) {
      font-size: 8.5px;
    }

    @include bp(sm) {
        font-size: 9px;
    }

    @include bp(md) {
        font-size: 9.5px;
    }

    @include bp(lg) {
        font-size: 10px;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
  outline:none;
}

html,
button,
input,
select,
textarea {
    color: $text-color;
    font-family: inherit;
    line-height: inherit;
}

body {
  font-family: $font-family-base;
  @include font-size(base);
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  font-weight: $font-weight-base;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a{
  cursor:pointer;
}

// ::-moz-selection {
//     background: #eee;
//     text-shadow: none;
// }

// ::selection {
//     background: #eee;
//     text-shadow: none;
// }

img {
    vertical-align: middle;
    max-width: 100%;
}