// base helper classes
.h-clearfix {
    @include clearfix;
}

.h-center-align-element {
    @include align-element(all);
}

.h-center-align-content {
    @include center-align-content;
}

.h-equal-height{
    @include equal-height();
}

.h-clickable {
  position: relative;
  cursor: pointer;
  display: block;

  &__item {
    @include overlay(transparent, 0);
  }

}

.h-wysiwyg-html{
    @include wysiwyg-html;
}

.h-full-cover{
    @include full-cover;
}