// base helper classes
.el {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.h-clearfix {
    @include clearfix;
}

.h-valign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-valign-flexbox {
    display: flex;
    align-items: center;
}

.h-equal-height{
    @include equal-height();
}

.h-clickable {
  position: relative;
  cursor: pointer;
  display: block;

  &__item {
    @include overlay(transparent, 0);
  }

}

.h-wysiwyg-html{
    @include wysiwyg-html;
}

.h-full-cover{
    @include full-cover;
}

/*------


The below all needs revised!!


#PADDING
------*/
.padding {
    padding: $padding;

    &--xxl {
        padding: $padding-xxl;
    }

    &--xl {
        padding: $padding-xl;
    }

    &--lg {
        padding: $padding-lg;
    }

    &--md {
        padding: $padding-md;
    }

    &--sm {
        padding: $padding-sm;
    }

    &--xs {
        padding: $padding-xs;
    }

    &--xxs {
        padding: $padding-xxs;
    }

}



/*-----
#MARGIN
-----*/
.margin {
    margin: $padding;

    &--xxl {
        margin: $padding-xxl;
    }

    &--xl {
        margin: $padding-xl;
    }

    &--lg {
        margin: $padding-lg;
    }

    &--md {
        margin: $padding-md;
    }

    &--sm {
        margin: $padding-sm;
    }

    &--xs {
        margin: $padding-xs;
    }

    &--xxs {
        margin: $padding-xxs;
    }

}