// base helper classes
.el {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.clearfix {
    @include clearfix;
}

.center {
    &--all {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--vertical {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &--horizontal {
      @include center-block();
    }
}
