/*
    ----------------------------------------

    SCHEMES
    --
    Create schemes that can be used to manipulate components and blocks.
    Try to define colors in components and blocks as little as possible.
    Lets try to affect background colors here and in the element context, leaving the scheme-html mixins to handle
    the html elements. This way they can be used in other contexts outside the scheme scope
    ----------------------------------------
*/

.scheme {
    position: relative;
    background: $body-bg;

    @include scheme-html-default;

    &--dark {
        background: #000;

        @include scheme-html-dark;
    }

    /* Add Another scheme here */

}