/*	
	----------------------------------------

	SCHEMES
	--
	Create schemes that can be used to manipulate components and blocks.
	Try to define colors in components and blocks as little as possible.
	
	----------------------------------------
*/

.scheme{

	position: relative;

	&--default{
		
		background:$body-bg;

		h1,h2,h3,h4,h5,h6{
			color:$headings-color;
		}
	
		ul,li,p,span{
			color:$font-family-sans-serif;
		}

	}

	&--black{
		
		background: #000;

		h1,h2,h3,h4,h5,h6{
			color:#fff;
		}
	
		ul,li,p,span{
			color:#fff;
		}

		a{
			color:#fff;
		}

	}

	/* Add Another scheme here */

}