/*	
	----------------------------------------

	VARIABLES
	--
	Go through this and try to get them as close to the design as possible.

	Once these are done check these:
		- base/typography.scss
		- base/scheme.scss
	
	----------------------------------------
*/


// Colors
$red: 			#ff0060;
$dark-grey: 	#50525b;
$grey:			#50525b;
$green:			#0ac572;
$light-grey: 	#ccc;
$almost-white:	#e4e4e4;
$almost-black:	#22182c;


// Link colors to meaningful variables
$brand-color:		$green;
$body-bg:			#fff;
$text-color:		$dark-grey;
$link-color:		$brand-color;
$link-hover-color: 	darken($link-color, 15%);


// Font sizes for responsive scalability (used by font-size mixin)
$font-sizes: (
	xs:		(xs: 12px, sm: 12px, md: 12px, lg: 12px, xl: 12px), // h6
	sm:		(xs: 14px, sm: 14px, md: 14px, lg: 14px, xl: 14px), // h5
	md:		(xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px), // h4, usually same as body font-size
	lg:		(xs: 22px, sm: 22px, md: 22px, lg: 22px, xl: 22px), // h3
	xl:		(xs: 26px, sm: 26px, md: 26px, lg: 26px, xl: 26px), // h2
	xxl:	(xs: 28px, sm: 28px, md: 34px, lg: 34px, xl: 34px), // h1
	xxxl:	(xs: 36px, sm: 36px, md: 46px, lg: 46px, xl: 46px)
);

$font-size-base: md; // base size based on font-size labels in the sass map


// Typography
$font-family-sans-serif: 	"Roboto", sans-serif;
$font-family-serif:			Georgia, "Times New Roman", Times, serif;
$font-family-base: 			$font-family-sans-serif;
$font-weight-base: 			400;
$font-weight-strong-base:	700;
$line-height-base: 			1.628571429;
$line-height-computed:		floor(($font-size-base * $line-height-base)) !default;


// Headings
$headings-font-family:	inherit;
$headings-font-weight:	300;
$headings-line-height:	1.1;
$headings-color:		#000;


// Buttons
$button-weight:			$font-weight-base;
$button-text-transform:	none;


// Animation Easing
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);


/**
 * Spacing variables. Currently misnamed as "padding" variables, but these vars
 * are used in other spacing contexts too.
 */
// Spacings
$padding-xxl: 			150px;
$padding-xl: 			100px;
$padding-lg: 			60px;
$padding-md: 			40px;
$padding-sm: 			30px;
$padding-xs: 			20px;
$padding-xxs: 			10px;
$padding: 				$padding-md; // Define base spacing, used by Bourbon and others.
$col-padding: 			15px;
$body-padding-bp: 		sm;
$body-padding-sm: 		10px;
$body-padding: 			10px;
$header-margin-top: 	110px;
$header-margin-top-sm: 	75px; //height of the header


//lets setup a new xl breakpoint
$screen-xl: 	1600px;
$screen-xl-min:	$screen-xl;
$screen-lg-max:	$screen-xl-min - 1;


// Container Defaults
$container-max-width:		1170px;
$container-full-max-width:	2600px;


// Container Breakpoint sizes
$container-sm-max: 100%;
$container-md-max: 100%;
$container-lg-max: 1170px;
$container-xl-max: 1241px;


// Container gutter width
$container-gutter-width: $grid-gutter-width / 2; // divide by 2 as how bootstrap works


// Effects
$border-radius: 3px;


//	For table div
$tableBlockBreak: md;





/**
 * Font sizes for <html> element, used as a base for the rem units in different
 * breakpoints. This should not be changed.
 */
$font-size-rem-sm: 8.5px;
$font-size-rem-md: 9.5px;
$font-size-rem-base: 10px;


// Bourbon
$em-base: $font-size-rem-base;


/**
 * Brand color profiles. Find more at: http://brandcolors.net
 *
 * Use map with the "brand" helper function:
 *   ...
 *   color: brand(facebook);
 *   background-color: brand(instagram);
 */

$brand-colors: (
	airbnb: 		#fd5c63,
	android: 		#a4c639,
	bandcamp: 		#629aa9,
	behance: 		#1769ff,
	blogger: 		#f57d00,
	deviantart: 	#05cc47,
	disqus: 		#2e9fff,
	etsy: 			#d5641c,
	facebook: 		#3b5998,
	flickr: 		#ff0084,
	foursquare: 	#2d5be3,
	google-plus: 	#dc4e41,
	html5: 			#e34f26,
	imdb: 			#f5de50,
	imgur: 			#85bf25,
	instagram: 		#405de6,
	kickstarter: 	#2bde73,
	linkedin: 		#0077b5,
	medium: 		#00ab6b,
	myspace: 		#000000,
	patreon: 		#e6461a,
	periscope: 		#3aa4c6,
	pinterest: 		#bd081c,
	quora: 			#a82400,
	reddit: 		#ff4500,
	rss: 			#f26522,
	shopify: 		#96bf48,
	skype: 			#00aff0,
	soundcloud: 	#ff8800,
	spotify: 		#2ebd59,
	stackoverflow:	#fe7a15,
	streamable: 	#0f90fa,
	tripadvisor: 	#589442,
	tumblr: 		#35465c,
	twitch-tv: 		#6441a5,
	twitter: 		#55acee,
	vimeo: 			#162221,
	vine: 			#00b488,
	vkontakte: 		#45668e,
	yahoo: 			#410093,
	youtube: 		#cd201f
);
