/*
    ----------------------------------------

    VARIABLES
    --
    Go through this and try to get them as close to the design as possible.

    Once these are done check these:
        - base/typography.scss
        - base/scheme.scss

    ----------------------------------------
*/


// Colors
$green:         #0ac572;

// Link colors to meaningful variables
$brand-color:       $green;
$text-color:        #666;
$headline-color:    #000;

$body-bg:           #fff;
$link-color:        $green;


// Font sizes for responsive scalability (used by @mixin font-size). Feel free to add new sizes on project basis if needed :)
// Sizes are taken from the Swiss-Template-v2-beta.sketch
$font-sizes: (
    sm:     (xs: 14px, sm: 14px, md: 14px, lg: 14px, xl: 14px),
    md:     (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px), // body text size
    lg:     (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px),
    button: (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px), 
    h6:     (xs: 16px, sm: 16px, md: 16px, lg: 16px, xl: 16px),
    h5:     (xs: 18px, sm: 18px, md: 18px, lg: 18px, xl: 18px),
    h4:     (xs: 20px, sm: 20px, md: 20px, lg: 20px, xl: 20px),
    h3:     (xs: 22px, sm: 22px, md: 24px, lg: 24px, xl: 24px),
    h2:     (xs: 30px, sm: 32px, md: 36px, lg: 36px, xl: 36px),
    h1:     (xs: 34px, sm: 36px, md: 42px, lg: 48px, xl: 48px)
);

$font-size-base: md; // base size based on font-size labels in the sass map


// Spacing sizes for responsive scalability (used by @mixin spacing). Feel free to add new sizes on project basis if needed :)
// [section,box] is being used for out-the-box components so those shouldnt be removed.
$spacing-sizes: (
    section:        (xs: 2.5rem, sm: 4rem, md: 4rem, lg: 10rem, xl: 10rem),
    itemspace:      (xs: 3.5rem, sm: 3.5rem, md: 3rem, lg: 4rem, xl: 5rem),
    box:            (xs: 1.5rem, sm: 1.5rem, md: 2rem, lg: 2rem, xl: 2rem)
);


// Typography
$text-family:               "Roboto", sans-serif;
$text-color:                $text-color;
$text-weight:               400;
$text-weight-strong:        700;

$line-height:               1.628571429;
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default;

$text-spacing:              1;

// Headings
$headings-font-family:      "Roboto", sans-serif;
$headings-color:            $headline-color;
$headings-font-weight:      900;

$headings-line-height:      1.2;


// Effects
$overlay-bg:                darken($brand-color, 35%);          // @include overlay;
$overlay-alpha:             0.5;                                // @include overlay;
$border-radius:             5px;                                // @include border-radius;
$shadow:                    0 1px 4px 0 rgba(0, 0, 0, 0.3);     // @include shadow();
$shadow-large:              0 3px 40px 0 rgba(0, 0, 0, 0.2);    // @include shadow(large);


// Borders
$border-color:              #cccccc;            // Used for HR lines. High impact
$ui-border-color:           #f4f4f4;            // User for lines to differentiate small UI components. Low Impact

// Animation Easing
$ease-out-expo:             cubic-bezier(0.190, 1.000, 0.220, 1.000);

// Container Defaults
$container-max-width:       1270px;
$container-width:           90%;
$container-gutter-width:    5%;











/*
    ----------------------------------------

    EXTRA VARIABLES
    --
    These will barely get changed.

    ----------------------------------------
*/



/**
 * Breakpoints and Container Defaults
 */

// animated classes work from this viewport up
$animated-min-width:        1025px;

// Breakpoints
$screen-xl:                 1600px;
$screen-xl-min:             $screen-xl;
$screen-lg-max:             $screen-xl-min - 1;

// Container Breakpoint sizes
$container-sm-max:          100%;
$container-md-max:          100%;
$container-lg-max:          1170px;
$container-xl-max:          1241px;

// Misc padding/margin sizes
$col-padding:               15px;
$body-padding-bp:           sm;
$body-padding-sm:           10px;
$body-padding:              10px;
$header-margin-top:         110px;
$header-margin-top-sm:      75px; // height of the header


/**
 * Font sizes for <html> element, used as a base for the rem units in different
 * breakpoints. This should not be changed.
 */
$font-size-rem-sm:          8.5px;
$font-size-rem-md:          9.5px;
$font-size-rem-base:        10px;



/**
 * Brand color profiles. Find more at: http://brandcolors.net
 *
 * Use map with the "brand" helper function:
 *   ...
 *   color: brand(facebook);
 *   background-color: brand(instagram);
 */

$brand-colors: (
    airbnb:         #fd5c63,
    android:        #a4c639,
    bandcamp:       #629aa9,
    behance:        #1769ff,
    blogger:        #f57d00,
    deviantart:     #05cc47,
    disqus:         #2e9fff,
    etsy:           #d5641c,
    facebook:       #3b5998,
    flickr:         #ff0084,
    foursquare:     #2d5be3,
    google-plus:    #dc4e41,
    html5:          #e34f26,
    imdb:           #f5de50,
    imgur:          #85bf25,
    instagram:      #405de6,
    kickstarter:    #2bde73,
    linkedin:       #0077b5,
    medium:         #00ab6b,
    myspace:        #000000,
    patreon:        #e6461a,
    periscope:      #3aa4c6,
    pinterest:      #bd081c,
    quora:          #a82400,
    reddit:         #ff4500,
    rss:            #f26522,
    shopify:        #96bf48,
    skype:          #00aff0,
    soundcloud:     #ff8800,
    spotify:        #2ebd59,
    stackoverflow:  #fe7a15,
    streamable:     #0f90fa,
    tripadvisor:    #589442,
    tumblr:         #35465c,
    twitch-tv:      #6441a5,
    twitter:        #55acee,
    vimeo:          #162221,
    vine:           #00b488,
    vkontakte:      #45668e,
    yahoo:          #410093,
    youtube:        #cd201f
);
