// colours
$red: 			#ff0060;
$dark-grey: 	#50525b;
$grey:			#50525b;
$light-grey: 	#ccc;
$almost-white:	#e4e4e4;

//social media colors
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #125688;
$vimeo: #aad450;
$flickr: #ff0084;
$linkedin: #007bb5;
$google: #de4b39;


//link colors to meaninful vars
$brand-color: $red;
$body-bg: #fff;
$text-color: $dark-grey;
$link-color: $brand-color;
$link-hover-color: darken($link-color, 15%);

//Typography, revise multiple serif and sans serif fonts
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;
$font-weight-base: 400;
$font-weight-strong-base: 700;
$line-height-base: 1.628571429;
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;



/**
 * Font sizes for <html> element, used as a base for the rem units in different
 * breakpoints. This should not be changed.
 */
$font-size-rem-sm: 8.5px;
$font-size-rem-md: 9.5px;
$font-size-rem-base: 10px;

// font sizes
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 23px;
$font-size-xl: 30px;
$font-size-xxl: 40px;
$font-size-xxxl: 60px;
$font-size-xxxxl: 80px;
$font-size-xxxxxl: 100px;

$font-size-base: $font-size-md;



//for bourbon
$em-base: $font-size-rem-base;

//headings
$headings-font-family: inherit;
$headings-font-weight: 300;
$headings-line-height: 1.1;
$headings-color: #000;
$headings-small-color: inherit;

//layout stuff
$container-max-width: 1170px;
$container-full-max-width: 2600px;


/**
 * Spacing variables. Currently misnamed as "padding" variables, but these vars
 * are used in other spacing contexts too.
 */
// Spacings
$padding-xxl: 150px;
$padding-xl: 100px;
$padding-lg: 60px;
$padding-md: 40px;
$padding-sm: 30px;
$padding-xs: 20px;
$padding-xxs: 10px;
$padding: $padding-md; // Define base spacing, used by Bourbon and others.

$col-padding: 15px;

$body-padding-bp: sm;
$body-padding-sm: 10px;
$body-padding: 10px;

$header-margin-top: 110px;
$header-margin-top-sm: 75px; //height of the header

$mobile-menu-toggle: "md";

//lets setup a new xl breakpoint
$screen-xl: 1600px;
$screen-xl-min: $screen-xl;
$screen-lg-max: $screen-xl-min - 1;

//container sizes
$container-sm-max: 100%;
$container-md-max: 100%;
$container-lg-max: 1170px;
$container-xl-max: 1241px;

//container gutter width
$container-gutter-width: $grid-gutter-width / 2; // divide by 2 as how bootstrap works

// effects
$default-radius: 3px;

//for table div
$tableBlockBreak: md;
