/*
    ----------------------------------------

    ANIMATIONS
    --
    Add animations here so you can reference them from other SCSS files
    Uses mixin/_animation.scss
    Uses mixin/_keyframes.scss

    Remember to add your newly made animation to _main.scss

    ----------------------------------------

                        anim            animtime    fill        easing          delay
                        --              --          --          --              --
    @include animation( shake,          0.6s,       backwards,  $ease-out-expo, 0.3s);

    ----------------------------------------

    Examples:
    @include animation( shake, 0.6s, backwards, $ease-out-expo, 0.3s);
    @include animation( shake );
    <div data-animate="animated shake"></div>
    <div class="shake"></div>

*/

.shake {
    @include animation( shake );
}

@include keyframes( shake ) {

    0%, 100% {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }

}
