/*
    ----------------------------------------

    ANIMATIONS
    --
    Add animations here so you can reference them from other SCSS files
    Uses mixin/_animation.scss
    Uses mixin/_keyframes.scss

    Remember to add your newly made animation to _main.scss

    ----------------------------------------

                        anim            animtime    fill        easing          delay
                        --              --          --          --              --
    @include animation( fadeInLeft,     0.6s,       backwards,  $ease-out-expo, 0.3s);

    ----------------------------------------

    Examples:
    @include animation( fadeInLeft, 0.6s, backwards, $ease-out-expo, 0.3s);
    @include animation( fadeInLeft );
    <div data-animate="animated fadeInLeft"></div>
    <div class="fadeInLeft"></div>

*/

.fadeInLeft {
    @include animation( fadeInLeft );
}

@include keyframes( fadeInLeft ) {
    0% {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
