/*
    ----------------------------------------

    ANIMATIONS
    --
    Add animations here so you can reference them from other SCSS files
    Uses mixin/_animation.scss
    Uses mixin/_keyframes.scss

    Remember to add your newly made animation to _main.scss

    ----------------------------------------

                        anim            animtime    fill        easing          delay
                        --              --          --          --              --
    @include animation( flipInY,     0.6s,       backwards,  $ease-out-expo, 0.3s);

    ----------------------------------------

    Examples:
    @include animation( flipInY, 0.6s, backwards, $ease-out-expo, 0.3s);
    @include animation( flipInY );
    <div data-animate="animated flipInY"></div>
    <div class="flipInY"></div>

*/

.flipInY {
    transform-origin: left;
    @include animation( flipInY );
}

@include keyframes( flipInY ) {

    0% {
        transform: perspective(1000px) rotate3d(0, 1, 0, 80deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    100% {
        transform: perspective(1000px);
    }

}
