/**
 * CONTENTS
 *
 * (Pro tip: prefix your search with '#' to jump directly to titles)
 *
 * Bootstrap........Include Bootstrap pieces separately
 * Custom...........Our code
 */

/**
 * As Bootstrap is required by our core, for grids etc we need this first
 */

@import "vendor/bootstrap";

/**
 * #CUSTOM
 *
 * All of our custom code.
 */

//include the base variables and mixins
@import "base/variables";

/**
 * Mixins
 *
 */
@import "mixins/index";

/**
 * #CUSTOM VENDOR
 *
 * All of our custom vendor code.
 */

@import "vendor/em-toolbox";
@import "vendor/flickity";
@import "vendor/remodal";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

/**
 * Functions
 *
 */
@import "base/functions";

/**
 * Base
 *
 * include the base helpers, typography etc
 */
@import "base/base";
@import "base/helpers";
@import "base/print";
@import "base/scheme";
@import "base/typography";

/**
 * Layouts
 * A bunch of layouts
 */
@import "layouts/l-blog";
@import "layouts/l-cards";
@import "layouts/l-columns";
@import "layouts/l-divided-spotlight";

/**
 * Blocks
 * Block contain of layouts and components, and those should styled individually with modifiers
 */
@import "blocks/b-base";
@import "blocks/b-blog";
@import "blocks/b-footer";
@import "blocks/b-page-content";
@import "blocks/b-page-navigation";
@import "blocks/b-section";

/**
 * Components
 * Include the components core which can/would be amended to that project
 */
@import "components/c-asset";
@import "components/c-background-image";
@import "components/c-blog-author";
@import "components/c-blog-header";
@import "components/c-blog-post-big";
@import "components/c-blog-post";
@import "components/c-blog-single-header";
@import "components/c-blog-taxonomy";
@import "components/c-btn";
@import "components/c-card";
@import "components/c-chromeframe";
@import "components/c-column-listing";
@import "components/c-cta-link";
@import "components/c-hero";
@import "components/c-image";
@import "components/c-mobile-toggle";
@import "components/c-modal";
@import "components/c-overlay";
@import "components/c-page-navigation-footer";
@import "components/c-page-navigation";
@import "components/c-page-numbers";
@import "components/c-section-asset";
@import "components/c-section-header";
@import "components/c-sidebar-search";
@import "components/c-sidebar-ul";
@import "components/c-sidebar-widget";
@import "components/c-sidebar";
@import "components/c-social-media-ul";
@import "components/c-table";
@import "components/c-tags-ul";
@import "components/c-youtube-api-player";

/**
 * Animations
 * New animations should go under /animations/
 */
@import "animations/animated";

@import "animations/fadeIn";
@import "animations/fadeInDown";
@import "animations/fadeInLeft";
@import "animations/fadeInRight";
@import "animations/fadeInUp";
@import "animations/flipInX";
@import "animations/flipInY";
@import "animations/shake";
@import "animations/zoomIn";
