/**
 * This is the main Swiss Sass index file.
 *
 * Prefix your search with '#' to jump directly to titles.
 */

/**
 * #Frameworks
 *
 * Import any frameworks or plugins that are required by core Swiss first.
 */

@import "vendor/bootstrap";
@import "vendor/fontawesome";

/**
 * #Variables
 */

@import "base/variables";

/**
 * #Mixins
 */

@import "mixins/index";

/**
 * #Functions
 */

@import "base/functions";

/**
 * #Vendor
 *
 * Place any plugin customization files here.
 */

@import "vendor/em-toolbox";
@import "vendor/flickity";
@import "vendor/remodal";

/**
 * #Base styles
 */

@import "base/base";
@import "base/helpers";
@import "base/print";
@import "base/scheme";
@import "base/typography";

/**
 * #Blocks
 */

@import "blocks/b-base";
@import "blocks/b-blog";
@import "blocks/b-footer";
@import "blocks/b-header";
@import "blocks/b-hero";
@import "blocks/b-image-text";
@import "blocks/b-image";
@import "blocks/b-listing";
@import "blocks/b-page-content";
@import "blocks/b-section";

/**
 * #Layouts
 */

@import "layouts/l-blog";
@import "layouts/l-cards";
@import "layouts/l-columns";
@import "layouts/l-divided-spotlight";
@import "layouts/l-mobile-navigation";
@import "layouts/l-navigation-bar";

/**
 * #Components
 */

@import "components/c-asset";
@import "components/c-background-image";
@import "components/c-blog-author";
@import "components/c-blog-header";
@import "components/c-blog-post-big";
@import "components/c-blog-post";
@import "components/c-blog-single-header";
@import "components/c-blog-share";
@import "components/c-blog-taxonomy";
@import "components/c-btn";
@import "components/c-card";
@import "components/c-chromeframe";
@import "components/c-column-listing";
@import "components/c-cta-link";
@import "components/c-header-menu";
@import "components/c-header-mobile-menu";
@import "components/c-hero";
@import "components/c-image";
@import "components/c-menu-toggle";
@import "components/c-modal";
@import "components/c-overlay";
@import "components/c-page-navigation-footer";
@import "components/c-page-numbers";
@import "components/c-section-asset";
@import "components/c-section-header";
@import "components/c-share";
@import "components/c-sidebar-search";
@import "components/c-sidebar-ul";
@import "components/c-sidebar-widget";
@import "components/c-sidebar";
@import "components/c-site-logo";
@import "components/c-social-media";
@import "components/c-table";
@import "components/c-tags-ul";
@import "components/c-youtube-api-player";

/**
 * #Animations
 *
 * All new animations should go under the animations folder.
 */

@import "animations/animated";

@import "animations/fadeIn";
@import "animations/fadeInDown";
@import "animations/fadeInLeft";
@import "animations/fadeInRight";
@import "animations/fadeInUp";
@import "animations/flipInX";
@import "animations/flipInY";
@import "animations/shake";
@import "animations/zoomIn";
