.l-divided-spotlight {
    @include bp(sm) {
        position: relative;
        padding-top: 40%;
    }

    &__items {
        @include bp(sm) {
            border-radius: $border-radius;
            overflow: hidden;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;

            @include animation-sequence(0.3, 6);

            &>* {
                @include animation(zoomIn, 1.5s);
            }
        }
    }

    &__item {
        position: relative;

        @include bp(xs, max) {
            padding-top: 50%;
        }

        @include bp(sm) {

            [data-column-count="1"] & {
                width: 100%;
            }

            [data-column-count="2"] & {
                width: 50%;
            }

            [data-column-count="3"] & {
                width: 33.3333%;
            }

            &--wider {
                width: 70%;
            }

            &:last-child {
                right: 0;
            }

            &:first-child {
                left: 0;
            }
        }
    }
}
