.c-blog-post-big {
    @include shadow;
    @include scheme-html-inverted();

    &__text {
        @include spacing(padding, all, itemspace);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 50rem;

        h2 {
            margin: 0.2em 0;
        }

        [data-column-count="1"] & {

            max-width: 80rem;

            h2 {
                @include font-size(h1);
            }
        }
    }
}
