.c-chromeframe {
    @include font-size(sm);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-brand;
    color: #fff;
    z-index: 99998;
    padding: 10px 15px;
    text-align: center;

    a {
        color: #fff;
        font-weight: bold;
    }
}