/**
 * This component defines the styles for the mobile menu.
 * The $sub-menu-padding variable sets the indentation for each
 * level of navigation.
 */

.c-header-mobile-menu {
    $sub-menu-padding: 5%;

    position: relative;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__list {
        position: relative;

        > .menu-item {
            @include font-size(lg);

            > a {
                display: block;
                position: relative;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            // Styles for the child menus
            .sub-menu {
                padding-left: $sub-menu-padding;
                margin-bottom: 1.5rem;

                .menu-item {
                    @include font-size(md);

                    > a {
                        display: block;
                        position: relative;
                        padding-top: 2px;
                        padding-bottom: 2px;

                        &::before {
                            @include align-element(vertical);
                            @include font-icon($fa-var-caret-right, solid);

                            font-size: 11px;
                            color: #fff;
                            left: $sub-menu-padding * -1;
                        }
                    }

                    // Current child menu item
                    &.current-menu-item > a {
                        opacity: 0.75;
                    }
                }
            }

            // Current top level menu item
            &.current-menu-item > a {
                opacity: 0.75;
            }
        }
    }
}