/*

Documentation
---------------------
modal.js


Files
---------------------
_c-modal.scss              // Popup wrapper styling
modal.js                   // Template
/templates/modals.php      // <modals> wrapper where all popups are

*/

$modalOuterMargin: 30px;
$modalOuterMarginDouble: 60px;

.c-modal {

    /*
    WRAPPER STYLING
    */

    @include z-index(modal);
    @include full-cover;

    position: fixed;
    display: flex;
    align-items: center;

    &__shadow {
        @include animation( fadeIn, 1.6s, backwards, $ease-out-expo, 0s);
        @include full-cover;

        background: rgba(#000,0.8);

        .c-modal--anim-prev &, .c-modal--anim-next & {
            @include animation( fadeIn, 0s, backwards, $ease-out-expo, 0s);
        }
    }

    &__wrapper { // DONT EDIT. High probability of breaking things
        position: relative;
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
    }




    /*
    INTERFACE STYLING
    */

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        background: #000;
        cursor: pointer;
        z-index: 1;
        text-align: center;

        &:before {
            line-height: 4rem;
            color: #fff;
            content: "\2715";
        }
    }

    &__nextprev {
        @include z-index(modal);
        position: absolute;
        height: 4rem;
        width: 4rem;
        color: #000;
        top: 50%;
        cursor: pointer;
        text-align: center;
        transform: translateY(-50%);

        &:before {
            line-height: 4rem;
            font-size: 2rem;
            font-family: FontAwesome, serif;
        }

        &--next {
            right: 0;

            &:before {
                content: "\f105";
            }
        }

        &--prev {
            left: 0;

            &:before {
                content: "\f104";
            }
        }

    }




    /*
    CONTAINER STYLING
    */

    &__container {
        @include animation( zoomIn, 1s, backwards, $ease-out-expo, 0s);

        position: relative;

        @include bp(md) {
            .c-modal--anim-next & {
                @include animation( fadeInRight, 0.6s, backwards, $ease-out-expo, 0s);
            }

            .c-modal--anim-prev & {
                @include animation( fadeInLeft, 0.6s, backwards, $ease-out-expo, 0s);
            }
        }


        // STYLE

        [data-swiss-modal-style="inline"] &,
        [data-swiss-modal-style="external"] & {
            @include spacing(padding, all, itemspace);
            @include shadow(large);

            max-width: $container-max-width - $modalOuterMarginDouble;
            width: $container-width;
            margin: $modalOuterMargin auto;

            background: $color-body;
        }

        [data-swiss-modal-style="youtube"] & {

            height: 100vh;
            width: 100%;
            margin: 0;

            @include bp(md) {
                height: calc(100vh - 60px);
                width: calc(100vw - 60px);
                margin: $modalOuterMargin;
            }

            .h-wysiwyg-html {
                position: initial;
            }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        [data-swiss-modal-style="image"] & {
            @include shadow(large);

            height: 100vh;
            max-width: 100%;
            width: auto;
            background: $color-body;

            display: flex;
            align-items: center;
            justify-content: center;

            @include bp(md) {
                height: calc(100vh - 60px);
                margin: $modalOuterMargin;
            }

            img {
                margin: auto;
                display: block;
                max-width: 100%;
                width: auto;
                max-height: calc(100vh - 60px);
                height: auto;
            }
        }




    }
}
