.c-page-navigation-footer {
    @include font-size(sm);

    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    // Primary Level
    & > li {
        @include spacing(padding, right, box);
        @include spacing(padding, bottom, itemspace);

        display: block;
        width: 50%;

        @include bp(sm) {
            width: 25%;
        }

        & > a {
            margin-bottom: 0.5em;

            display: block;
            font-weight: $font-weight-strong;
        }

        // Secondary Level
        & > ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
            }

            a {
                display: block;
                line-height: 1.2em;
                padding: 0.3em 0;
            }
        }
    }
}
