/*
background
top
bottom
left
right
fifty-left
fifty-right
 */

$assetOuterSpace: $container-max-width/2;
$assetOuterSpace: $assetOuterSpace+60px;

.c-section-asset {
    pointer-events: none;
    position: absolute;
    display: none;



    &--visibility {
        &-sm {
            @media (max-width: 575px) {
                display:block;
            }
        }

        &-md {
            @media (min-width: 768px) and (max-width: 991px) {
                display:block;
            }
        }

        &-lg {
            @media (min-width: 992px) {
                display:block;
            }
        }
    }



    &--zindex {

        &-back {
            @include z-index(assetback);
        }

        &-front {
            @include z-index(assetfront);
        }
    }



    &--size {
        &-normal {
            background-repeat: no-repeat;
        }

        &-cover {
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-contain {
            background-size: contain;
            background-repeat: no-repeat;
        }

        &-pattern {
            background-repeat: repeat;
        }

        &-contain-height {
            background-size: auto 100%;
            background-repeat: no-repeat;
        }

        &-contain-width {
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }



    &--placement {

        &-background {
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
        }

        &-left {
            left: 0;
            width:calc(50% - #{$assetOuterSpace});
            top: 0;
            height: 100%;
        }

        &-right {
            right: 0;
            width:calc(50% - #{$assetOuterSpace});
            top: 0;
            height: 100%;
        }

        &-fifty-left {
            height: 100%;
            left: 0;
            top: 0;
            width: 50%;
        }

        &-fifty-right {
            height: 100%;
            right: 0;
            top: 0;
            width: 50%;
        }
    }



    &--anim-duration {
        &-fast {
            animation-fill-mode: both !important;
            opacity: 1;
            animation-duration: 1s !important;
        }

        &-normal {
            animation-fill-mode: both !important;
            opacity: 1;
            animation-duration: 1s !important;
        }

        &-slow {
            animation-fill-mode: both !important;
            opacity: 1;
            animation-duration: 1.6s !important;
        }

        &-veryslow {
            animation-fill-mode: both !important;
            opacity: 1;
            animation-duration: 3.2s !important;
        }
    }



    &--position {

        &-center {
            background-position: center;
        }

        &-top {
            background-position-y: top;
        }

        &-right {
            background-position-x: right;
        }

        &-bottom {
            background-position-y: bottom;
        }

        &-left {
            background-position-x: left;
        }
    }
}

.c-section-asset--position-right.c-section-asset--position-center, .c-section-asset--position-left.c-section-asset--position-center {
    background-position-y: center;
}

.c-section-asset--position-top.c-section-asset--position-center, .c-section-asset--position-bottom.c-section-asset--position-center {
    background-position-x: center;
}
