/*
	----------------------------------------
	ANIMATIONS
	----------------------------------------
	Uses mixin/_animation.scss
	Uses mixin/_keyframes.scss

	Remember to add your newly made animation to _main.scss


						anim		    animtime	fill		easing			delay
						--			    --			--			--				--
	@include animation(	exampleAnim, 	0.6s, 		backwards, 	$ease-out-expo, 0.3s);

    ----------------------------------------
	Examples
    ----------------------------------------

    SCSS
    ------
    @include animation(	fadeInUp, 0.6s, backwards, $ease-out-expo, 0.3s);
	@include animation( fadeInUp );

    HTML
    ------
    <div data-animate="animated fadeInUp"></div>
    <div class="fadeInUp"></div>
    <div class="animated duration--slow fadeInUp"></div>
    <div class="animated duration--slow delay--3 fadeInUp"></div>

    HTML Squence
    ------
    <div class="animated--sequence">
        <div class="animated fadeInUp"></div>
        <div class="animated fadeInUp"></div>
    </div>

*/


/**
 * Animation visibility by default
 */

@media only screen and (min-width : $animated-min-width) {

	*[data-animate] {
		opacity: 0;

        &.animated {
            opacity:1;
        }
	}
}

/**
 * Animation Speeds
 *
 * <div class="animated duration--slow fadeInUp"></div>
 */

.animated {
    -webkit-animation-fill-mode: backwards;
    animation-duration: 0.6s;
}

.duration {

    &--slow {
        animation-duration: 1.6s;
    }

    &--superslow {
        animation-duration: 3.2s;
    }

}

/**
 * Animation Delay
 *
 * <div class="animated delay--3 fadeInUp"></div>
 */

$base-time: 0.10;

@for $i from 1 through 20{
    .delay--#{$i} {
        animation-delay:unquote(($base-time*$i) + 's'); //0.5, 1, 1.5 etc
    }
}

/**
 * Animation Sequence for Child Elements
 *
 * <div class="animated--sequence">
 *     <div class="animated fadeInUp"></div>
 * </div>
 */

$base-time: 0.20;

@for $i from 1 through 20{
    .animated--sequence *:nth-child(#{$i}) {
        animation-delay:unquote(($base-time*$i) + 's'); //0.5, 1, 1.5 etc
    }
}
