/*
	----------------------------------------

	ANIMATIONS
	--
	Add animations here so you can reference them from other SCSS files
	Uses mixin/_animation.scss
	Uses mixin/_keyframes.scss

	Remember to add your newly made animation to _main.scss

	----------------------------------------

						anim		    animtime	fill		easing			delay
						--			    --			--			--				--
	@include animation(	exampleAnim, 	0.6s, 		backwards, 	$ease-out-expo, 0.3s);

    ----------------------------------------

	Examples:
    @include animation(	exampleAnim, 0.6s, backwards, $ease-out-expo, 0.3s);
	@include animation( exampleAnim );
    <div data-animate="animated exampleAnim"></div>
    <div class="exampleAnim"></div>

*/

.exampleAnim {
    @include animation( exampleAnim );
}

@include keyframes( exampleAnim ) {

    0% {
        transform: scale3d(0.95,0.95,0.95) translate(100%,0);
    }

    50% {
        transform: scale3d(0.95,0.95,0.95) translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }

}
