/*
	----------------------------------------

	ANIMATIONS
	--
	Add animations here so you can reference them from other SCSS files
	Uses mixin/_animation.scss
	Uses mixin/_keyframes.scss

	Remember to add your newly made animation to _main.scss

	----------------------------------------

						anim		    animtime	fill		easing			delay
						--			    --			--			--				--
	@include animation(	zoomIn, 	0.6s, 		backwards, 	$ease-out-expo, 0.3s);

    ----------------------------------------

	Examples:
    @include animation(	zoomIn, 0.6s, backwards, $ease-out-expo, 0.3s);
	@include animation( zoomIn );
    <div data-animate="animated zoomIn"></div>
    <div class="zoomIn"></div>

*/

.zoomIn {
    @include animation( zoomIn );
}

@include keyframes( zoomIn ) {

    0%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.9, .9, .9);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

}
