/*

EXAMPLE:
----
@include btn;                           // default button
@include btn(#000,$brand-color,#000);   // customized colors

 */

@mixin btn( $btn-text-color: #fff, $btn-bg-color: $brand-color, $btn-extra-color: $brand-color, $btn-padding: 0.5em 1em, $btn-shadow: $shadow) {

    @include transition; // default transition
    background: $btn-bg-color;
    border-radius: $border-radius;
    box-shadow: $btn-shadow;
    display: inline-block;
    padding: $btn-padding;

    span,
    & {
        color: $btn-text-color;
    }

    &:hover,
    &:focus {
        background: darken($btn-bg-color, 5%);
        text-decoration: none;
        color: $btn-text-color;
    }
}
