@mixin center-align-content( $direction: 'vertical' ) {
    display: -webkit-flex;
    display: flex;
    @if $direction == 'vertical' or $direction == 'all' {
        align-items: center;
    }
    @if $direction == 'horizontal' or $direction == 'all' {
        justify-items: center;
    }
}

