@mixin cta-link($link-color: $brand-color) {
    transition: $default-transition;
    color: $link-color;

    &:after {
        font-family: FontAwesome, serif;
        content: "\f105";
        color: inherit;
        margin-left: 1em;
    }
}
