.block-listing {
	
	text-align: center;

	&__container {
		@include container();
	}
	
	&__row{
		@include make-row();
	}

	&__item {
		
		@include make-xs-column(12);

		@include margin(md, bottom);

		@include bp(md){
			margin-bottom: 0;
		} 

		&__image {
		}

		&__title {
			@include font-size(lg);
		}

		&__content {
		}

		&__btn {
			@extend .btn;
		}
	}

	&[data-count="2"] {
		.block-listing__item {
			@include make-sm-column(6);
		}
	}

	&[data-count="3"] {
		.block-listing__item {
			@include make-sm-column(4);
		}
	}

	&[data-count="4"] {
		.block-listing__item {
			@include make-sm-column(3);
		}
	}
}