.btn {

    @include btn();

    &--white {
        @include btn(#fff, #000);
    }

	p+&{
		margin-top:0.5em;
	}

    &--copy {
        @include btn($icon:"\f0c5");
    }

    &--play {
        @include btn($icon:"\f144", $icon-bg:$brand-color, $icon-side:right);
    }

    &--loading {
        @include btn($icon:"\f021");
        &:before {
            animation: fa-spin 2s infinite linear;
        }
    }

}
