.c-btn {
    background: $ui-bg;
    border-radius: $ui-border-radius;
    box-shadow: $ui-shadow;
    display: inline-block;
    font-weight: $ui-weight;
    padding: $ui-padding;
    transition: all 0.6s $ease-out-expo;

    span, & {
        color: $ui-color;
    }

    &:hover{
        background: darken($ui-bg,5%);
        text-decoration: none;
    }

    &--white {
        background: #fff;

        span, & {
            color: $brand-color;
        }

        &:hover{
            background: darken(#fff,5%);
            color: $brand-color;
        }
    }
}
