.c-list {

  &--horizontal {

    padding:0;

    li {
      display: inline-block;
    }

  }

  &--padded {
    li {
      padding: 0 1rem 1rem 0;

      @include bp(sm){
        padding: 0 1rem 0 0;
      }
    }
  }

}