.page-numbers,
.c-page-numbers {
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
    }

    a,
    span {
        padding: 0.6em 1em;
        line-height: 1;
        display: block;
    }

    a {
        @include border-radius;
        @include shadow;
    }

    span.current {
        @include border-radius;
        @include shadow;

        background: $brand-color;
        color: #fff;
    }
}
