.page-numbers {
    margin: 0.5em 1em;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
    }

    a,
    span {
        @include shadow;
        padding: 0.5em 1em;
        background: $brand-color;
        color: #fff;
        display: block;
        border-radius: $border-radius;
    }

    .current {
        background: $brand-color;
        color: #fff;
    }
}