.c-post-small {

	position:relative;
	min-height: 300px;
	overflow:hidden;
	color:#fff;

	margin-bottom: 1rem;

	&__content {

		@include align(vertical);
		@include padding(base, all);
		width:100%;
		text-align:center;
		z-index:4;

		&--left {
			text-align:left;
		}

		&--right {
			text-align:right;
		}

		&--top {
			top:0;
			bottom:auto;
			transform:translateY(0%);
		}

		&--bottom {
			top:auto;
			bottom:0;
			transform:translateY(0%);
		}

	}

	&--cover {
		@include full-cover();
	}

	&--square {
		padding-top:100%;
		height:0;
	}
}