$youtubeIframeLogoWidth: 88px;
$youtubeIframeLogoHeight: 46px;

/**
 * Basic styling for the YouTube API Player component.
 */
.c-youtube-api-player {
	@include full-cover;
	video {
		position: absolute; 
	    right: 0; 
	    bottom: 0;
	    min-width: 100%; 
	    min-height: 100%;
	    width: auto; 
	    height: auto; 
	    background-size: cover;
	    overflow: hidden;
	}
	overflow: hidden;
}
