.example-template{
	padding-bottom:10rem;
	background:$almost-white;

	&__table{
		border-width:1px 0 0;
		border-style:solid;
		border-color:$light-grey;
		tr{
			td, th{
				border-width:0 0 1px;
				border-style:solid;
				border-color:$light-grey;
				padding:1rem 0;
				overflow:hidden;
			}
	
			th{
				min-width:14rem;
				vertical-align:top;
				font-weight:400;
				font-size:15px;
				color:$brand-color;
				width:200px;
			}
		}
	}

	& > .container > h2{
		margin-top:10rem;
		margin-bottom:2rem;
	}

	&__wrapper-vertical{
		height:300px;
		width:300px;
		margin-right:1rem;
		margin-bottom:1rem;
		float:left;
	}

	&__wrapper-horizontal{
		margin-bottom:1rem;
	}

	&__smalle{
		@include border-radius;

		background:$brand-color;
		color:#fff;
		padding:1rem;
		display:inline-block;
		margin-bottom:0.4rem;
	}

	.cup{
		@include shadow;
		background:#fff;
		outline-style:dashed;
		outline-width:2px;
		outline-color:#fff;
	}

	.coffee{

		&:hover{
			outline-color:$brand-color;
			&::after{
				z-index:4;
				position:absolute;
				top:0;
				right:0;
				content: "copy";
			}
		}

	}

	span.coffeehere{
		color:$light-grey;
		display:block;
		text-align:center;
		margin:1rem;
		position:absolute;
		top:50%;
		left:0;
		right:0;
		margin:0;
		padding:0;
		margin-top:-10px;
	}

	.layout-2columns-corner__columnbg{
		background:$almost-white;
	}
}

	.nav-tabs-example{
		.active a{
			background:$almost-white !important;
		}
	}