//an bootstrap to bem example :)
.example {
	
	&__container {
		@include container();
	}
	
	&__row{
		@include make-row();
	}

	&__item {
		
		@include make-xs-column(12);

		&__title {
			@include margin(base, bottom, true);
			@include font-size(lg);
		}

		&__more {
			@extend .btn;
		}
	}
}