.footer {
	background: $almost-white;
	text-align: center;

	&__container {
		@include container();
		@include section();
	}

	&__row{
		@include make-row();
	}

	&__content {
		@include make-xs-column(12);

		.nav__list--bar li {
			float: none;
		}
	}
}
