.full-width-grid {
	&__container {
		@include container();
		@include padding(md, top);
		width: 100% !important;
		max-width: 100%;
	}
	
	&__row{
		@include make-row();
		@extend .row--no-gutters;
	}

	&__header {
		&__title {
			@extend .heading;
		}
	}

	&__item {
		@include make-xs-column(6);
		@include make-sm-column(4);
		@include make-md-column(3);

		overflow: hidden;

		&__image {
			@include transition(all 0.6s);
		}

		&__caption {
			@include overlay($brand-color, 0.8);
			color: #fff;
			opacity: 0;
			
			padding: rem($padding);

			&__inner {
				@extend .center--all;
				width: 100%;
				padding: rem(20);
			}

			@include transition(all 0.5s ease-in);
		}

		&:hover {
			
			.full-width-grid__item__image {
				transform: scale(1.2);
			}

			.full-width-grid__item__caption {
				opacity: 1;
			}
		}
	}
}