.gallery {
	@extend .clearfix;

	.gallery__container {
		@include container($padding: false);
		@include padding(md, top);
		width: 100% !important;
		max-width: 100%;
	}
}

.gallery--basic {
	
	.gallery__images{
		@include make-row();
		@extend .row--no-gutters;
	}

	.gallery__item {
		@include make-xs-column(6);
		@include make-sm-column(4);
		@include make-md-column(3);

		overflow: hidden;

		&__image {
			@include transition(all 0.6s);
			@include bgimg();
			height: 100px;

			@include bp(sm){
				height: 200px;
			} 

			@include bp(sm){
				height: 300px;
			} 
		}

		&__caption {
			@include overlay($brand-color, 0.8);
			color: #fff;
			opacity: 0;
			
			padding: rem($padding);

			&__inner {
				@extend .center--all;
				width: 100%;
				padding: rem(20);
			}

			@include transition(all 0.5s ease-in);
		}

		&:hover {
			
			.gallery__item__image {
				transform: scale(1.2);
			}

			.gallery__item__caption {
				opacity: 1;
			}
		}
	}
}

.gallery--flickr {
	overflow: hidden;
}