.gallery-item {
	padding:0;
	overflow: hidden;

	&__image {
		@include transition(all 0.6s);
		@include bgimg();
		height: 100px;

		@include bp(sm){
			height: 200px;
		} 

		@include bp(sm){
			height: 300px;
		} 
	}

	&__caption {
		@include overlay($brand-color, 0.8);
		color: #fff;
		opacity: 0;
		
		padding: rem($padding);

		&__inner {
			width: 100%;
			padding: rem(20);
			@include align(all);
			text-align: center;
		}

		@include transition(all 0.5s ease-in);
	}

	&:hover {
		
		.gallery-item__image {
			transform: scale(1.2);
		}

		.gallery-item__caption {
			opacity: 1;
		}
	}
}