.hero {

	position:relative;
	min-height: 300px;
	overflow:hidden;
	color:#fff;

	&__background {
		@include bgimg();
    	@include full-cover();
		z-index:1;
	}

	&__bg-video {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 100;

		display: none;

		@include bp(sm){
			display: block;
		}
	}

	&__overlay {
		@include full-cover();
		@include overlay($brand-color, 0.6, 2);
	}

	&__content {

		@include align(vertical);
		width:100%;
		padding: 8rem 6rem;
		text-align:center;
		z-index:3;

		&__overlay {
			@include full-cover();
			@include overlay($brand-color, 0.6, -1);

			&--fade-bottom {
				@include overlay($brand-color, 0.6, -1, true, bottom);
			}

			&--fade-top {
				@include overlay($brand-color, 0.6, -1, true, top);
			}
		}

		&--left {
			text-align:left;
		}

		&--right {
			text-align:right;
		}

		&--top {
			top:0;
			bottom:auto;
			transform:translateY(0%);
		}

		&--bottom {
			top:auto;
			bottom:0;
			transform:translateY(0%);
		}

		&--dynamic {
			position:relative;
			top:auto;
			transform:translate(0, 0);
		}
	}

	&--cover {
		@include full-cover();
	}

	&--square {
		padding-top:100%;
		height:0;
	}
}