.hero {

	@include bgimg();
	color: #fff;
	text-align: center;

    &__column {
    	@include make-sm-column(12);
    }

	&__center {

		@include make-xs-column(12);
		
		@include bp(md){
			@include make-sm-column(8);
			@include make-sm-column-offset(2);
		} 
		
	}

	&__title {
		color: #fff;
		margin: 0;
	}

	&__subtitle {
	
		color: $brand-color;
		margin: 0;
		@include margin(sm, top);
		@include margin(sm, bottom);
		
	}
}