.layout-2columns-corner{
	@include bp(xs,max){
		&__image{
			height:30rem;
			margin:2rem $col-padding 2rem;
		}
	}
	@include bp(sm){
		position:relative;
		overflow:hidden;

		&__image{
			width:65%;
			height:100%;
			position:absolute !important;
			top:0;
			@include bp(lg){
				width:65%;
			}
			
		}
	
		&__column{
			margin-top:20rem;
			width:60%;
			padding:5rem 0;

			@include bp(lg){
				width:63%;
			}
	
		}
	
		&__columnbg{
			width:65%;
			margin-top:20rem;
			position:absolute;
			top:0;
			background:$body-bg;
			height:100%;
			@include bp(lg){
				width:65%;
			}
		}
	
		&:nth-child(odd){
			.layout-2columns-corner{
				&__column{
					float:right;
				}
				&__image{
					right:35%;
					@include bp(lg){
						right:35%;
					}
				}
				&__columnbg{
					right:0;
				}
			}
		}
	
		&:nth-child(even){
			.layout-2columns-corner{
				&__column{
					float:left;
				}
				&__image{
					left:35%;
					@include bp(lg){
						left:35%;
					}
				}
				&__columnbg{
					left:0;
				}
			}
		}
	}
}