.listing-item-vertical{
	&--center{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	&--bottom{
		.content{
			position:absolute;
			bottom:0;
			left:0;
			right:0;
		}
	}

	.content{
		padding:$padding-sm;
	}
}