$logo-row-border-size: 1px;

.logo-listing {

	text-align: center;

	.logo-listing__container {
		@include container();
	}

	.logo-listing__text {
		@include margin(md, bottom);
	}

	.logo-listing__lists {
		@include make-row();
	}
	
	.logo-listing__list {
		
		@include make-xs-column(12);
		@include margin(md, bottom);

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			@include margin(base, bottom, true);
		}

		&__images {
			@include make-row($gutter:0);
			font-size: 0;//as we are display inline this include whitespace
		}

		&__image {
			
			@include make-xs-column(6);
			@include make-sm-column(4);
			@include make-md-column(3);

			display: inline-block;
			float: none !important;
			
			//negative margins to the borders
			margin-top: -$logo-row-border-size;
			margin-left: -$logo-row-border-size;
		
			background: #fff;
			padding: rem(10px) rem(10px);
			border: $logo-row-border-size solid #dae0e9;

			@include bp(sm){
				padding: rem(20px) rem(40px);

				&:first-child {
					margin-left: 0;
				}
			} 
			
			&__inner {
				@include bgimg($size:contain);
				height: 100px;
				width: 70%;
				@include center-block;
			}
		}
	}
}