$masonry-item-gutter: 10px;
.masonry {

	background: #eee;
	
	&__container {
		@include container();
	}
	
	&__items{
		@include make-row($masonry-item-gutter);
	}

	&__item {
		
		@include make-xs-column(12);
		@include make-sm-column(4);
		padding: 0 $masonry-item-gutter;
		margin-bottom: $masonry-item-gutter*2;

		&__inner {
			background: #fff;
		}

		&__text {
			padding: rem($padding-sm);
		}

		&__meta {
			@include margin(base, top);
			p {
				margin: 0;
				@include font-size(sm);
			}
		}

	}
}