//a generic class for the logo to be used in header and footer
.nav-bar__logo {
    display: block;
    width: 100%;
    max-width: 162px;
    height: 25px; //normal height
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background: $brand-color;
    text-indent: -9990px;
    float: left;
    position: relative;
    z-index: 200;
    @include bp(md) {
        height: 46px; //same as nav
    }
    &--inverted {
        background: lighten($brand-color, 20%);
    }
}

//the fancy menu hide show animation icon
.navtoggle {
    position: relative;
    float: right;
    cursor: pointer;
    z-index: 200;
    div {
        width: 25px;
        height: 4px;
        background: $brand-color;
        margin-bottom: 4px;
        transition: all 0.2s ease-in-out;
        position: relative;
        top: 0px;
    }
    display: none;
    @include bp(sm, max) {
        display: block;
    }
}

.navtoggle:hover div {}

body.nav-open .navtoggle {
    div {
        opacity: 0;
        background: #fff;
        margin-bottom: 3px;
        &:first-child {
            transform: rotate(45deg);
            opacity: 1;
            top: 7px;
        }
        &:last-child {
            transform: rotate(-45deg);
            opacity: 1;
            top: -7px;
        }
    }
    &:hover {
        div {
            background: #fff;
        }
    }
}

//now lets style the header nav bar
.nav-bar--header {
    z-index: 500;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .container {
        padding-top: rem($padding);
        padding-bottom: rem($padding);
    }
    .nav {
        //mobile nav
        @include bp(sm, max) {
            visibility: hidden;
            opacity: 0;
            @include full-cover(fixed);
            z-index: 100;
            background: $brand-color;
            overflow-y: auto;
            overflow-x: hidden;
            text-align: center;
            @include transition(all, 0.2s ease-in-out);
            &__list {
                @include counter-body-margin(1, padding);
                li {}
                li a {
                    color: #fff;
                    width: 70%;
                    background: $brand-color;
                    @include center-block;
                    background: rgba(255, 255, 255, 0);
                    @include transition(all, 0.4s, ease-in-out);
                    padding: rem(10) 0;
                    @include font-size(xl);
                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
                li.current_page_item a {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
        //desktop nav
        @include bp(md) {
            float: right;
            &__list {
                li {}
                li a {
                    // color: #fff;
                }
                li:hover,
                li.current_page_item {
                    background: darken($brand-color, 5%);
                    a {
                        color: #fff;
                    }
                }
                li ul {
                    background: $brand-color;
                    li {
                        a { 
                            color: #fff;
                        }
                        &:hover {}
                    }
                }
                &--inverted {
                    li a {
                        color: #fff;
                    }
                    li:hover,
                    li.current_page_item {
                        background: darken($brand-color, 5%);
                        a {
                           color: #fff;
                        }
                    }
                }
            }
        }
    }
}

//when nav is open lets change a few things

html, body {
    height: 100%;
}

body.nav-open {
    overflow: hidden;
    width: 100%;
    .nav {
        visibility: visible;
        opacity: 1;
    }
    
    .nav-bar__logo {
        @extend .nav-bar__logo--inverted;
    }
}

.js-hero-active {

    .nav__list {
        @extend .nav__list--inverted
    }

    .nav-bar__logo {
        @extend .nav-bar__logo--inverted;
    }
}
