.pagination {
    @extend .list;
    @extend .list--horizontal;
    li {
        a{
            display: block;
        	padding: rem(5) rem(10);
            background: $brand-color;
            color: #fff;
            border: none;
            @include transition();

            &.active, &:hover {
                background: lighten($brand-color, 10%);
            }
        }
    }
}
