.posts-listing{
	
	&__title {
		margin: 0;
		@include margin(base, bottom);
		text-align: center;
	}

	&__post {

		@include margin(sm, bottom);
		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			margin: 0;
			@include margin(sm, bottom);
		}

	}

}