.quotes{
	&__container {
		@include container();
	}

	&__header {
		&__title {
			@extend .heading;
		}
	}
	
	&__content{
		@include make-row();
	}
}

.quote {

	&__container {
		@include container($padding: false);
		@include margin(md, bottom);
	}

	&:last-child {
		.quote__container {
			margin-bottom: 0;
		}
	}
	
	&__row{
		@include make-row();
		
		@include bp(md){
			display: flex;
    		flex: 1 0 auto;
		} 

		@include margin(base, bottom);

	}

	&:last-child {
		.quote__row{
			margin-bottom: 0;
		}
	}
	
	&__img {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(3);
		
		@include margin(base, bottom);

		@include bp(sm){
			margin-bottom: 0;
		} 

	}

	&__content {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(9);
	}

	&__img, &__content {
		@extend .center--content;
	}

	&__author {
		font-weight: bold;
	}

	&__btn {
		@extend .btn;
	}
}