.section-header {
	
	&__title {
		text-transform: capitalize;
  		margin: 0;
  		word-break: break-all;
  		@include font-size(xl);
	}

	&__subtitle {
		@include font-size(base);
  		@include margin(xs, top, true);
	}

	&:after {
		content: "";
		display: block;
		width: 56px;
		height: 1px;
		background: $brand-color;
		@include margin(sm, top, true);
	}

	@include margin(md, bottom, true);

	&--centered {
		text-align: center;

		&:after{
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--right {
		text-align: right;

		&:after{
			float: right;
		}
	}

}