.section-header {
	text-align: center;

	&__title {
		text-transform: uppercase;
  		margin: 0;
  		word-break: break-all;
  		@include font-size(xl);
	}

	&__subtitle {
		@include font-size(base);
  		@include margin(base, bottom, true);
  		font-weight: normal;
	}

	&:after {
		content: "";
		display: block;
		width: 56px;
		height: 1px;
		background: #ccc;
		@include margin(sm, top, true);
		margin-left: auto;
		margin-right: auto;
	}

	@include margin(md, bottom, true);

}