.slick-dots {

    position: absolute;
    bottom: $padding-sm;
    @include bp(sm){
        bottom: $padding;
    } 
    margin: 0;

    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        text-indent: -9999px;
        margin: 0 4px;

        &.slick-active {
            background: $brand-color;
        }
    }
}