.social-links {
	margin: rem($padding) 0;
	padding: 0;

	&__item {
		display: inline;
		position: relative;
		top:0;
		@include transition(all 0.4s);

		a {
			padding: 0 rem(5);
		}

		&:hover {
			opacity: 0.5;
		}
	}

	&--large {

		.social-links__item {

			a {
				@include font-size(xxl);
				padding: 0 rem(15);
			}

		}

	}

	&--colored {

		.social-links__item {

			@each $brand, $color in $brand-colors {
				&--#{$brand} {
					color: $color;
				}
			}

		}

	}
}