.social-links {
	margin: rem($padding) 0;
	padding: 0;
	text-align: center;

	&__item {
		display: inline;
		position: relative;
		top:0;
		@include transition(all 0.4s);

		a {
			padding: rem(10);
			font-size: rem(25);

			@include bp(sm){
				font-size: rem(40);
				padding: rem(20);
			}
		}

		&:hover {
			top: -10px;
		}

		@each $brand, $color in $brand-colors {
			&--#{$brand} {
				color: $color;
			}
		}
	}
}