.full-width-grid {
	&__container {
		@include container();
		@include padding(md, top);
		width: 100% !important;
		max-width: 100%;
	}
	
	&__row{
		@include make-row();
		@extend .row--no-gutters;
	}

	&__header {
		&__title {
			@extend .heading;
		}
	}

	&__item {
		@include make-xs-column(6);
		@include make-sm-column(4);
		@include make-md-column(3);

		overflow: hidden;
	}
}