$columnspace: 3%;

.l-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    &__item {

        @include spacing(itemspace,top,margin);

        @include bp(sm){
            margin-top:0;
        }

        &:nth-child(3), &:nth-child(4){
            @include bp(sm){
                @include spacing(itemspace,top,margin);
            }

            @include bp(md){
                margin-top:0;
            }
        }

        &:first-child{
            margin-top:0;
        }

        // different column width variations
        [data-column-count="1"] & {
            width:100%;

            @include bp(sm){
                width:70%;
            }
        }

        [data-column-count="2"] & {
            width:100%;

            @include bp(sm){
                width:50% - $columnspace;
            }
        }

        [data-column-count="3"] & {
            width:100%;

            @include bp(sm){
                width:33.3333333% - $columnspace;
            }
        }

        [data-column-count="4"] & {
            width:100%;

            @include bp(sm){
                width:50% - $columnspace;
            }

            @include bp(md){
                width:25% - $columnspace;
            }
        }
    }

    &--reversed{
        flex-direction: row-reverse;
    }

    &--horizontal-center{
        justify-content: center;
    }

    &--center{
        align-items: center;
    }
}