.l-columns {
    @include make-row;

    &__item {
        @include make-md-column(12);

        // different column width variations
        [data-column-count="1"] & {
            @include make-md-column(10);
            @include make-md-column-push(1);
        }

        [data-column-count="2"] & {
            @include make-md-column(6);
        }

        [data-column-count="3"] & {
            @include make-md-column(4);
        }

        [data-column-count="4"] & {
            @include make-sm-column(6);
            @include make-md-column(3);
        }

        // clear floats
        &:nth-child(2n + 3) {
            [data-column-count="4"] & {
                clear: left;

                @include bp(md) {
                    clear: none;
                }
            }
        }

        // margins when stacked
        &:not(:last-child) {

            @include bp(md) {
                margin-bottom: 0;
            }
        }
    }
}