.links-block {

	&__container {
		@include container();
	}

	&--full {
		.links-block__container {
			max-width: 100%;
			width: 100%;
			padding: 0;
		}
	}

	&__item {
		
		color: #fff;
		
		&__background {
			@include bgimg();
        	@include full-cover();
        	z-index: -1;
		}

		&__overlay {
			@include overlay($brand-color, 0.6);
			z-index: -1;
		}

	}
}