.layout .acf-fc-layout-handle[data-block-title]::after {
    content: attr(data-block-title);
    display: inline-block;
    vertical-align: middle;
    font-size: 85%;
    opacity: 0.6;
    margin: 0 0 0 1em;
    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
