.b-base {
    // generic section/block styles (paddings, ect..)
    @include section;
    position: relative;

    // different container sizes
    &__container {
        @include container;
    }

    &__container-full {
        @include container(full);
    }

    // just a row :)
    &__row {
        @include make-row;
    }

    // this is what we use to control the width of the insides
    &__content {
        @include make-xs-column(12);

        /**
         * to create a centered column with specific width add [data-column-size="8"] to the content element
         */

        // $grid-columns is the column count used by bootstrap, default is 12
        @for $i from 1 through $grid-columns {
            &[data-column-size="#{$i}"] {

                // create the desired column width, smaller than md defaults to 100% width
                @include make-md-column($i);
                @include make-lg-column($i);

                // calculate how much we need to push the column to make it centered
                $colsToPush: (($grid-columns - $i) / 2);

                // create correct pushes to make column centered
                @include make-md-column-push($colsToPush);
                @include make-lg-column-push($colsToPush);
            }
        }
    }

    // this is used for adding box-shadows / non-grid related paddings / etc..
    &__wrapper {
        position: relative;

        &--padded {
            box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.04);
            padding: 2rem;
            background-color: #fff;

            @include bp(md) {
                padding: 5rem;
            }
        }
    }
}