.b-blog{
    
    &__container{
        @include container;

        &--wider{
            max-width:$container-max-width+100;
        }

        &+&{
            @include spacing(itemspace,top,margin);
            @include spacing(itemspace,bottom,margin);
        }

        &:first-child{
            margin-top:0;
        }
    }

    &--space-above{
        @include spacing(section,top,margin);
    }
}