.b-cards {
    /* generic section/block styles (paddings, ect..) */
    @include section;
    position: relative;

    /* different container sizes */
    &__container {
        @include container;
    }

    /* just a row :) */
    &__row {
        @include make-row;
    }

    /* this is what we use to control the width of the insides */
    &__content {
        @include make-xs-column(12);
    }

    /* this is used for adding box-shadows / non-grid related paddings / etc.. */
    &__wrapper {
        position: relative;
    }

    &__intro {
        @include margin(lg, bottom);
    }

}
