.b-example {

    // generic section/block styles (paddings, ect..)
    @include section;

    // different container sizes
    &__container {
        @include container;
    }

    // just a bootstap row :)
    &__row {
        @include make-row;
    }

    // this is what we use to control the width of the inside
    &__content {
        
        // here we are using the simple bootstrap mixins to give us width
        // @include make-md-column(10);
        // @include make-lg-column(8);
        
        //to center our element with offsets
        // @include make-md-column-push(1);
        // @include make-lg-column-push(2);

    }

    // this can be used for adding box-shadows / non-grid related paddings / etc..
    &__wrapper {
        position: relative;

        &--padded {
            box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.04);
            padding: 2rem;
            background-color: #fff;

            @include bp(md) {
                padding: 5rem;
            }
        }
    }
}