.b-footer {
    @include section;
    text-align: center;

    &__container {
        @include container;
    }

    &__navigation {
        margin-bottom: 4rem;
        @include make-row;

        &__column {
            @include make-md-column(4);

            margin-bottom: 1.5rem;

            @include bp(md){
                margin-bottom: 0;
            }

            &--logo {
                @include bp(md){
                    text-align: left;
                }
            }
        }
    }

    &__credits {
        @include make-row;

        &__column {
            @include make-xs-column(12);
            @include font-size(sm);
        }
    }

    &__social {
        @include make-row;

        &__column {
            @include make-xs-column(12);
        }

        margin-bottom: 4rem;
    }

    &__logo {
        width: 100%;
        max-width: 120px;
    }
}