.b-hero {
    @include section;

    background-color: $brand-color;
    position: relative;
    color: #fff;
    padding: 8rem 0;
    width: 100%;

    @include bp(sm) {
        padding: 16rem 0;
    }

    @include bp(md) {
        padding: 18rem 0;
    }

    // different container sizes
    &__container {
        @include container;
    }

    // just a row :)
    &__row {
        @include make-row;
    }

    // this is what we use to control the width of the insides
    &__content {
        @include make-xs-column(12);

        /**
         * to create a centered column with specific width add [data-column-size="8"] to the content element
         */

        // $grid-columns is the column count used by bootstrap, default is 12
        @for $i from 1 through $grid-columns {
            &[data-column-size="#{$i}"] {

                // create the desired column width, smaller than md defaults to 100% width
                @include make-md-column($i);
                @include make-lg-column($i);

                // calculate how much we need to push the column to make it centered
                $colsToPush: (($grid-columns - $i) / 2);

                // create correct pushes to make column centered
                @include make-md-column-push($colsToPush);
                @include make-lg-column-push($colsToPush);
            }
        }
    }

    // this is used for adding box-shadows / non-grid related paddings / etc..
    &__wrapper {}
}
