.b-hero {

    background-color: $brand-color;
    position: relative;
    color: #fff;
    padding-top: rem(200);
    padding-bottom: rem(75);

    @include bp(sm) {
        padding-top: rem(250);
        padding-bottom: rem(150);
    }

    @include bp(md) {
        padding-top: rem(300);
        padding-bottom: rem(200);
    }

    &__container {
        @include container;
        position: relative;
        z-index: 1;
    }

}