.b-hero {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    // Makes sure the ratio stays the same across different viewports.
    &:after{
        content: "";
        width: 1px;
        padding-top: 33.3333%;
    }

    &__background{
        @include animation( fadeIn, 5s, backwards, $ease-out-expo, 0s);
        @include full-cover;

        background-size: cover;
        background-position: center;
    }

    &__container{
        @include container;
    }

    &__content {
        @include spacing(section,top);
        @include spacing(section,bottom);
        @include animation( zoomIn, 2s, backwards, $ease-out-expo, 0s);

        @include bp(md){

            max-width:60%;
            margin:auto;

        }
    }
}
