$sectionMargin: false; // does section have top/bottom margin
$textMargin : true; // does textarea have top/bottom margin

.b-image-text {
    @include section($sectionMargin);

    @include bp(sm) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    &--right {
        flex-direction: row;
    }


    &--left {
        flex-direction: row-reverse;
    }



    &__container {
        display: flex;
        align-items: center;
        width: $container-width;
        margin: auto;

        @include bp(sm) {
            max-width: $container-max-width/2;
            width: $container-width/2;
            margin: initial;
        }
    }

    &__text {
        @include z-index(content);
        position: relative;

        @if $textMargin==true {
            @include spacing(section, top, padding);
            @include spacing(section, bottom, padding);
        }

        @if $textMargin==false {
            @include bp(xs, max) {
                @include spacing(section, top, padding);
                @include spacing(section, bottom, padding);
            }
        }

        .b-image-text--right & {
            @include bp(sm) {
                @include spacing(section, left, padding);
            }
        }

        .b-image-text--left & {
            @include bp(sm) {
                @include spacing(section, right, padding);
            }
        }
    }



    &__image-area {
        @include z-index(content);
        position: relative;
        display: flex;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        min-height: 35rem;

        &.animated {
            @include animation( zoomIn, 1s, backwards, $ease-out-expo, 0s);
        }

        @include bp(sm) {
            width: 50%;
            min-height: 0;
            padding-top: 0;
        }

        .b-image-text--vert-bottom & {
            align-items: flex-end;
        }

        .b-image-text--vert-middle & {
            align-items: center;
        }

        .b-image-text--vert-top & {
            align-items: flex-start;
        }

        .b-image-text--right & {
            justify-content: flex-end;
        }

        .b-image-text--left & {
            justify-content: flex-start;
        }
    }




    &__foreground-img {
        width: 100%;

        @include bp(xs, max) {
            width: 100%;
            height: auto;
        }
    }
}
