$desktopNavBreakpoint: md;
$mobileNavBreakpoint: sm,max;

.b-page-navigation{

	/* Reset lists */

	ul{
		margin:0;
		padding:0;
	}

	li{
		margin:0;
		padding:0;
		display:block;
	}

	/* Desktop */

	@include bp($desktopNavBreakpoint){

		&--relative,&--fixed{
			background:$brand-color;

			.b-page-navigation__container{
				@include container();
				padding-top:2rem;
				padding-bottom:2rem;

				&:after{
					content:"";
					clear:both;
					display:block;
				}
			}
	
				.b-page-navigation__logo{
					font-weight:700;
					padding:0.5em 0;
					color:#fff;

					float:left;
				}

				.b-page-navigation__pages-wrapper{
					float:right;

					&__mobile{
						display:none;
					}
				}
		
					.b-page-navigation__pages{
						margin:0 -1em;
			
						li{
							float:left;
		
							a{
								padding:0.5em 1em;
								display:block;
								color:#fff;
							}
		
							&.current_page_item{
								font-weight:700;
							}
						}
			
						&:after{
							content:"";
							clear:both;
							display:block;
						}
					}
	
				.b-page-navigation__mobile-toggle{
		
				}

		}

		&--fixed{
			position:fixed;
			top:0;
			left:0;
			width:100%;
			z-index:100;

			& + .page-content{
				padding-top:8rem;
			}
		}

		
	}

	/* Mobile */

	$mobileNavHeight:50px;
	$mobileSidePadding: $container-gutter-width;

	@include bp(sm,max){
		&--relative,&--fixed{
			@include transition(all, 0.6s $ease-out-expo);
			height:$mobileNavHeight;
			background:$brand-color;

			position:fixed;
			width:100%;
			z-index:100;

			&.b-page-navigation--scroll-hidden{
				transform:translate(0,-100%);
				-webkit-transform:translate(0,-100%);

				.b-page-navigation--open &{
					transform:none;
					-webkit-transform:none;
				}
			}

			.b-page-navigation__logo{
				top:$mobileNavHeight/2;
				left:$mobileSidePadding;
				color:#fff;
				font-weight:700;

				position:absolute;
				z-index:101;
				transform:translate(0,-50%);
				-webkit-transform:translate(0,-50%);
			}

			.b-page-navigation__pages-wrapper{
				background:$brand-color;
				padding:$mobileNavHeight $mobileSidePadding $mobileSidePadding $mobileSidePadding;

				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:100;
				overflow-y:auto;
				display:none;

				&__mobile{
					display:block;
				}

				.b-page-navigation--open &{
					display:block;
				}
			}

				.b-page-navigation__pages{
					li{
						a{
							color:#fff;
						}

						&.current_page_item{
							font-weight:700;
						}
					}
				}

			.b-page-navigation__mobile-toggle{
				right:$mobileSidePadding;
				top:50%;
				transform:translate(0,-50%);
				-webkit-transform:translate(0,-50%);

				position:absolute;
				cursor:pointer;
				z-index:101;

				div{
					@include transition(all, 0.6s $ease-out-expo);
					background:#fff;

					width:2em;
					height:0.3em;
					margin-top:0.3em;
					position:relative;
					top:0;

					&:first-child{
						margin-top:0;
					}

					.b-page-navigation--open &{

						&:nth-child(1){
							transform:rotate(45deg);
							top:0.6em;
						}

						&:nth-child(2){
							opacity:0;
						}

						&:nth-child(3){
							transform:rotate(-45deg);
							top:-0.6em;						
						}
					}
				}
			}

		}

		& + .page-content{
			padding-top:$mobileNavHeight;
		}
	}
}