.b-single-hero{
	background:#000;
	position:relative;
	padding-top:30%;

	@include bp(sm){
		padding-top:30%;
		min-height:200px;
	}

	&__bg{
		@include full-cover;
		background-size:cover;
		background-position:center;

		&:before{
			@include full-cover;
			@include overlay;
			content:"";
			display:block;

		}
	}

	&__content-wrapper{
		padding:$spacing-md 0;

		@include bp(sm){
			position:absolute;
			left:0;
			width:100%;
			bottom:0;
		}

		&__container{
			@include container;
		}

	}
}