.b-toolbox {
    // generic section/block styles (paddings, ect..)
    @include section;

    // different container sizes
    &__container {
        @include container;
    }

    // just a bootstap row :)
    &__row {
        @include make-row;
    }

    // this is what we use to control the width of the inside
    &__content {
        @include make-xs-column(12);
    }

    // this can be used for adding box-shadows / non-grid related paddings / etc..
    &__wrapper {
        position: relative;
    }

    // @TODO: cheating i know, for now this will do to allow blocks in the toolbox column
    .b-base__container {
        width: 100%;
    }
}