$example-template-cup-width: 30rem;
$example-template-cup-height: 30rem;
$example-template-cup-spacing: 3rem;

.example-template {

	padding-bottom:10rem;
	background:#fff;

	& > .container > h2{
		margin-top:10rem;
		margin-bottom:2rem;
	}

	/* Container for single element. */
	&__element-container {

		display: inline-block;
		width: 2 * $example-template-cup-width;
		height: $example-template-cup-height;
		margin-right: $example-template-cup-spacing;
		margin-bottom: 2 * $example-template-cup-spacing;

		/* Element info */
		&__info {
			width: $example-template-cup-width;
			height: $example-template-cup-height;
			float: left;
			position: relative;

			&__footer {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				&__icons {
					display: inline-block;
					i {
						margin-left: 1rem;
					}
				}
			}
		}

		/* Element preview */
		&__cup {
			width: $example-template-cup-width;
			float: left;
		}

	}

	&__wrapper {
		height:300px;
		width:300px;
		margin-right:1rem;
		margin-bottom:1rem;
		float:left;
	}

	&__wrapper-horizontal{
		margin-bottom:1rem;
	}

	&__smalle{
		@include border-radius;

		background:$brand-color;
		color:#fff;
		padding:1rem;
		display:inline-block;
		margin-bottom:0.4rem;
	}

	.cup {
		width: $example-template-cup-width;
		height: $example-template-cup-height;
		@include shadow;
		background:#fff;
		outline-style:dashed;
		outline-width:2px;
		outline-color:#fff;
	}

	.coffee{

		&:hover{
			outline-color:$brand-color;
			&::after{
				z-index:4;
				position:absolute;
				top:0;
				right:0;
				content: "copy";
			}
		}

	}

	span.coffeehere{
		color:$light-grey;
		display:block;
		text-align:center;
		margin:1rem;
		position:absolute;
		top:50%;
		left:0;
		right:0;
		margin:0;
		padding:0;
		margin-top:-10px;
	}

	.layout-2columns-corner__columnbg{
		background:$almost-white;
	}
}

.nav-tabs-example{
	.active a{
		background:$almost-white !important;
	}
}

.example-tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		@include font-size(10);
		margin: 0 0 0 0.1rem;
		padding: 0 0.5rem;
		display: inline-block;
		background: $light-grey;
		color: $grey;
	}
}

.example-tags--align-bottom {
	position: absolute;
	bottom: 4rem;
}

i.file-exists {
	opacity: 1;
}
i.file-not-found {
	opacity: 0.2;
}

.container--layout-info {
	@include paddingMargin(padding, sm, bottom);
}
