.footer {
	background: $almost-white;
	text-align: center;

	&__container {
		@include container();
		@include section();
	}

	&__row{
		@include make-row();
	}

	&__content {
		@include make-xs-column(12);

		.nav__list--bar li {
			float: none;
		}
	}

	&__navigation{
		text-align:center;
		li{
			display:inline-block;

			&.current_page_item{
				font-weight:700;
			}
		}

		a{
			display:block;
			padding:0.5em;
		}
	}
}
