//lets counter act the position absolute narvbar with negative margin
div.page-content > section.hero {
	@include counter-body-margin(-1);
}

.hero{

	position: relative;
	overflow: hidden;
	background: $brand-color;

	.hero__slides {}

	.hero__slide {
		
		width: 100%;
		height: 500px;

		@include bp(sm){
			height: 800px;
		} 
		
		&__background {
			@include full-cover();
			@include bgimg();
			z-index: 100;
		}

		&__bgvideo {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 100;

			display: none;

			@include bp(sm){
				display: block;
			} 
		}

		&__overlay{
			@include overlay($brand-color, 0.3);
			z-index: 200;
		}

		&__content {
			position: relative;
			z-index: 300;
			width: 100%;
			max-width: 800px;
			@include align(all);
			@include padding(base, all);
			@include counter-body-margin(1, padding);
			
			text-align: center;
			color: #fff;
		}

		&__image {
			@include margin(sm, bottom);
			text-align: center;
		}

		&__title {
			@include font-size(xxxl);
			line-height: 1;
		}

		&__subtitle {
			@include font-size(xl);
			@include margin(sm, top);
		}

		&__text {
			@include margin(sm, top);
		}

		&__btn {
			@include btn(#fff, $brand-color);
			@include margin(sm, top);
		}
		
	}
}