header.main-header + section.hero {
	@include counter-body-margin(-1);
}

.hero{

	position: relative;
	overflow: hidden;

	.hero__slides {

	}

	.hero__slide {

		background: $brand-color;
		color: #fff;
		position: relative;

		&__background {
			@include full-cover();
			@include bgimg();
		}

		&__bgvideo {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 100;

			display: none;

			@include bp(sm){
				display: block;
			} 
		}

		&__overlay{
			//@include overlay(#000000, 0.3);
			z-index: 200;
		}

		&__container {
			@include container();
			z-index: 300;
			position: relative;
		}

		&__row{
			@include make-row($gutter:0);
		}

		&__col {
			@include make-xs-column(12);
			@include make-sm-column(8);
			@include make-sm-column-offset(2);

			@include padding(xl, top);
			@include padding(xl, bottom);
			@include align('content');
			
			text-align: center;
		}

		&__title {
			@include font-size(xxxl);
			line-height: 1;
		}

		&__subtitle {
			@include font-size(xl);
			@include margin(sm, top);
		}

		&__text {
			@include margin(sm, top);
		}

		&__btn {
			@include btn(#fff, $brand-color);
			@include margin(sm, top);
		}
		
	}
}