$toolboxBarWidth: 400px;

//lets setup some special styling for when toolbox is opened
.js-toolbox-open {

	//move the .body element the width of the navbar
	.body, .main-header .nav-bar {
		padding-left: $toolboxBarWidth;
	}

	.toolbox__navbar {
		width: $toolboxBarWidth;

		.toolbox__navbar__boxs-container {
			opacity: 1;
		}
	}
}

.toolbox {

	// background: #eee;

	padding: 0 !important;

	&__navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 45px;
		z-index: 900;
		background: $brand-color;
		color: #fff;
		overflow-y: auto;

		h2 {
			color: #fff;
			@include font-size(lg);
			text-transform: capitalize;
			padding-bottom: 2rem;
			margin: 3rem 0;
			border-bottom: 1px solid #eee;
		}

		&__nav-container {
			@include container();
			margin-top: rem(10);
		}

		&__boxs-container {
			@include container();
			margin-bottom: rem(30);
			opacity: 0;
		}

		&__bar {
			height: 100%;
			background: $brand-color;
			width: 100%;
			position: absolute;
			top: 0px;
			left: -5px;
			text-align: left;
			padding-left: rem(10);
			
			&:hover {
				cursor: pointer;
			}
		}

		// &__box {
		// 	max-height: 200px;
		// 	overflow-y: auto;
		// }
	}

	.container {
		@include container();
	}


	&__item {

		margin: 20rem auto;
		@extend .clearfix;

		&:first-child {
			margin-top: 0;
		}
	}
	
	&__item__title {
		color: $brand-color;
		margin: 2rem 0;
	}

	&__item__meta {
		margin-bottom: 5rem;
		background: #eee;
		@include padding(xs, all);
	}

	&__item__code {

		&.js-show {
			display: block;
		}

		.prettyprint {
			max-height: 500px;
			overflow: auto;
		}
	}

	&__item__preview {
		position: relative;
		min-height: 300px;
		// padding: 4rem;
  //   	background-color: #fff;
	}
}