//for counteracting body margin for pos absolute header
@mixin counter-body-margin($plus-negative: 1, $whichPadding: margin){

  #{$whichPadding}-top: $header-margin-top-sm * $plus-negative;

  @include bp(md){
      #{$whichPadding}-top: $header-margin-top * $plus-negative;
  }
}

@mixin counter-col-margin(){
  margin-left: -$col-padding;
  margin-right: -$col-padding;
}

@mixin btn($background: $brand-color, $text: #fff){
    display: inline-block;
    text-decoration: none;
    padding: rem(10) rem(20);
    color: $text;
    cursor: pointer;
    border: none;
    @include border-radius(2px);
    text-transform: capitalize;
    background: $background;
    font-size: rem($font-size-base);
    @include transition(all, 0.8s);

    &:hover, &:active, &:focus {
        outline: 0;
        color: $text;
    }

    &:hover {
        background: darken($background, 6%);
        text-decoration: none;
        color: $text;
    }
}