@mixin animation($name: pageInRight, $duration: "", $fill: backwards, $timing: "", $delay: 0){
    animation-name: $name;
    animation-fill-mode: $fill;

	@if $duration != "" {
		animation-duration: $duration;
	}

	@if $timing != "" {
    	animation-timing-function: $timing;
	}

	@if $delay != "" {
    	animation-delay: $delay;
	}

}
