@mixin bp($point:"sm", $mobile-first: "min") {
  
  $xs: 0;
  $sm: $screen-sm-min;
  $md: $screen-md-min;
  $lg: $screen-lg-min;
  $xl: $screen-xl-min;

  @if($mobile-first == max){
    $xs: $screen-xs-max;
    $sm: $screen-sm-max;
    $md: $screen-md-max;
    $lg: $screen-lg-max;
  }
  
  @if $point == xs { 
    @media (#{$mobile-first}-width: $xs) { @content }
  }
  @if $point == sm { 
    @media (#{$mobile-first}-width: $sm) { @content }
  }
  @if $point == md { 
    @media (#{$mobile-first}-width: $md) { @content; }
  }
  @if $point == lg {
    @media (#{$mobile-first}-width: $lg) { @content; }
  }
  @if $point == xl {
    @media (#{$mobile-first}-width: $xl) { @content; }
  }
  @else{
    @media (#{$mobile-first}-width: $point) { @content; }
  }

}