/*

EXAMPLE:
----

breakpoint and up           breakpoint max value and down
--                          --
@include bp(sm);            @include bp(xs,max);
@include bp(md);            @include bp(sm,max);
@include bp(lg);            @include bp(md,max);
@include bp(xl);            @include bp(lg,max);


@include bp(568px);          // also possible

 */

@mixin bp($point: "sm", $mobile-first: "min") {

    $xs: 0;
    $sm: $screen-sm-min;
    $md: $screen-md-min;
    $lg: $screen-lg-min;
    $xl: $screen-xl-min;

    @if ($mobile-first == max) {
        $xs: $screen-xs-max;
        $sm: $screen-sm-max;
        $md: $screen-md-max;
        $lg: $screen-lg-max;
    }

    @if $point == xs {
        @media (#{$mobile-first}-width: $xs) { @content }
    }

    @else if $point == sm {
        @media (#{$mobile-first}-width: $sm) { @content }
    }
    @else if $point == md {
        @media (#{$mobile-first}-width: $md) { @content; }
    }
    @else if $point == lg {
        @media (#{$mobile-first}-width: $lg) { @content; }
    }
    @else if $point == xl {
        @media (#{$mobile-first}-width: $xl) { @content; }
    }
    @else {
        @media (#{$mobile-first}-width: $point) { @content; }
    }
}