
@mixin btn($background: $brand-color, $text: #fff){
    @include border-radius;

    display: inline-block;
    text-decoration: none;
    padding: rem(6) rem(20);
    color: $text;
    cursor: pointer;
    border: none;

   
    text-transform: capitalize;
    background: $background;
    font-size: rem($font-size-base);

    font-weight:$font-weight-strong-base;
    text-transform:uppercase;


    &:hover, &:active, &:focus {
        outline: 0;
        color: $text;
    }

    &:hover {
        background: darken($background, 6%);
        text-decoration: none;
        color: $text;
    }
}