@mixin btn($btn-text-color: #fff, $btn-bg-color: $brand-color, $btn-extra-color: $brand-color){
    @include transition; // default transition
    
    background: $btn-bg-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: inline-block;
    padding: 0.5em 1em;

    span,
    & {
        color: $btn-text-color;
    }

    &:hover, &:focus {
        background: darken($btn-bg-color, 5%);
        text-decoration: none;
        color: $btn-text-color;
    }
}