@mixin wysiwyg-html(){

  h1, h2, h3, h4, h5, h6 {
    @include font-size(lg);
    margin: rem(30) 0 rem(10) 0;
    text-transform: none;
  }

  ul, ol {
    li {
      margin: 0 0 5px 0;
    }
  }

}

@mixin section(){
  @include padding(lg, top);
  @include padding(lg, bottom);
}