@mixin container($max: true){
  @include container-fixed;

  @if($max == true){
    width: 100%;
    @media (min-width: $screen-sm-min) {
      max-width: $container-sm-max;
    }
    @media (min-width: $screen-md-min) {
      max-width: $container-md-max;
    }
    @media (min-width: $screen-lg-min) {
      max-width: $container-lg-max;
    }
    @media (min-width: $screen-xl-min) {
      max-width: $container-xl-max;
    }

    padding-left:  $container-gutter-width;
    padding-right: $container-gutter-width;
  }

}
