@mixin cta-link($link-color: $brand-color){
    @include transition; // default transition

    color:$link-color;

    &:after{
        font-family: FontAwesome;
        content: "\f105";
        color: inherit;
        margin-left: 1em;
    }
}