@mixin font-type($font: pn, $size: base, $weight:"") {
    @if $font==fontx {
        font-family: "proxima-nova", Verdana, sans-serif;
        @if $weight!="" {
          font-weight: $weight;
        }
        @elseif $weight==""{
          font-weight: $font-weight-base;
        }
    }

    @if $font==fonty {
        font-family: "refrigerator-deluxe", Impact, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: -0.02em;
    }
    

    @include font-size($size);
}