@mixin margin($size: base, $where: top, $reset: false) {
    @include spacing($size, $where, $reset, margin);
}

@mixin padding($size: base, $where: top, $reset: false) {
    @include spacing($size, $where, $reset, padding);
}
