@mixin overlay($color: #000, $percentage: 0.7, $z-index: auto, $fade: false, $dir: top){
	@include full-cover();
	z-index: $z-index;
	background: rgba($color, $percentage);

	@if($fade) {
		@if($dir == top) {
			background: -moz-linear-gradient(top,  rgba($color,0) 0%, rgba($color,$percentage) 35%, rgba($color,$percentage) 100%);
			background: -webkit-linear-gradient(top,  rgba($color,0) 0%,rgba($color,$percentage) 35%,rgba($color,$percentage) 100%);
			background: linear-gradient(to bottom,  rgba($color,0) 0%,rgba($color,$percentage) 35%,rgba($color,$percentage) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color60', endColorstr='$color',GradientType=0 );
		}
		@if($dir == bottom) {
			background: -moz-linear-gradient(top,  rgba($color,$percentage) 0%, rgba($color,$percentage) 655%, rgba($color,0) 100%);
			background: -webkit-linear-gradient(top,  rgba($color,$percentage) 0%,rgba($color,$percentage) 65%,rgba($color,0) 100%);
			background: linear-gradient(to bottom,  rgba($color,$percentage) 0%,rgba($color,$percentage) 65%,rgba($color,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='$color60',GradientType=0 );
		}
	}
}