/*

COLOR SCHEMES
-----------
All global color's should be set here.

Connect the scheme to areas of the website by using:
@include scheme-html-example();

Don't use the @scheme-html(); because then you will have no way to later on reuse it.

*/

@mixin scheme-html($s-text-color: $text-color, $s-headings-color: $headings-color, $s-link-color: $link-color) {

    p a {
        color: $s-link-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $s-headings-color;

        a {
            color: $s-headings-color;
        }
    }

    ul,
    li,
    p,
    span {
        color: $s-text-color;
    }

    /*
        Components? Amend the variation of that component within the component itself. This encapsulates the styles which makes it easier to find, debug and modify.
    */
}

// shortcuts for resuable schemes
@mixin scheme-html-default() {

    @include scheme-html();
}

@mixin scheme-html-inverted() {

    @include scheme-html( #ccc, #fff, #ccc);
}
