/**
 * The wysiwyg-html mixin is used to ensure that the contents of an element stay
 * well-formatted when the client has control over the content. Typically when
 * the client has the ability to add HTML.
 */
@mixin wysiwyg-html(){

  h1, h2, h3, h4, h5, h6 {
      margin: 1em 0 0.3em 0;
      color: $headings-color;
      margin-bottom: rem($padding);
  }

  ul, ol {
    li {
      margin: 0 0 5px 0;
    }
  }

  p {
  	margin-bottom: rem($padding);

  	&:last-child{
  		margin-bottom:0;
  	}
  }

  dl,dd,blockquote,ul,ol{
  	margin-bottom: rem($padding);

  	&+ol,&+ul{
  		margin-bottom:0;
  	}
  }

  /* Editor image styles */
  img {
    height:auto; // overwrite height-attribute set by WP
  }

  // images with captions
  .wp-caption {
    max-width: 100%;
    img {
      margin-bottom: 0.3em;
    }
  }
  p.wp-caption-text {
    @include font-size(xs);
    opacity: 0.6;
    margin: 0;
  }

  .alignnone {
    width: 100%;
    display:block;
    margin-bottom: rem($padding);

    img {
      width: 100%;
    }
  }

  .aligncenter {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom: rem($padding);
  }

  .alignleft,
  .alignright {
    max-width: 48%;
    margin-bottom: rem($padding-xs);
  }
  .alignleft {
    float: left;
    margin-right: 2%;
  }
  .alignright {
    float: right;
    margin-left: 2%;
  }
}

@mixin wysiwyg-html--nowrap(){
  h1, h2, h3, h4, h5, h6,
  ul li, ol li,
  p,
  {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
}
