/**
 * The wysiwyg-html mixin is used to ensure that the contents of an element stay
 * well-formatted when the client has control over the content. Typically when
 * the client has the ability to add HTML.
 */
@mixin wysiwyg-html(){

  h1, h2, h3, h4, h5, h6 {
      margin: 1em 0 0.3em 0;
      color: $headings-color;
      margin-bottom: rem($padding);
  }

  ul, ol {
    li {
      margin: 0 0 5px 0;
    }
  }

  p {
  	margin-bottom: rem($padding);

  	&:last-child{
  		margin-bottom:0;
  	}
  }

  dl,dd,blockquote,ul,ol{
  	margin-bottom: rem($padding);

  	&+ol,&+ul{
  		margin-bottom:0;
  	}
  }

}
