/**
 * The wysiwyg-html mixin is used to ensure that the contents of an element stay
 * well-formatted when the client has control over the content. Typically when
 * the client has the ability to add HTML.
 */
@mixin wysiwyg-html(){

	position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin: 1.4em 0 0.4em 0;

		&:first-child{
			margin-top:0;
		}
	}

	ul, ol {
		margin-bottom:1em;

		ul, ol{
			margin-bottom:0;
		}

		li {

		}
	}

	p {
		margin-bottom: 1.5em;

		&:last-child{
			margin-bottom:0;
		}
	}

	hr{
		margin-bottom:1.5em;
	}

	dl,dd,blockquote{
		margin-bottom: 1em;

		&+ol,&+ul{
			margin-bottom:0;
		}
	}

	/* Editor image styles */
	img {
		height:auto; // overwrite height-attribute set by WP
	}

	pre{
		padding:1rem 2rem;
		border:1px solid rgba(0,0,0,0.1);
		display:block;
		border-radius:$border-radius;
		font-size:0.9em;
		margin:0 0 1em;
	}

	// images with captions
	.wp-caption {
		max-width: 100%;
		img {
			margin-bottom: 0.3em;
		}
	}
	p.wp-caption-text {
		@include font-size(xs);
		opacity: 0.6;
		margin: 0;
	}

	.alignnone {
		width: 100%;
		display:block;
		margin-bottom: rem($padding);

		img {
			width: 100%;
		}
	}

	.aligncenter {
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-bottom: rem($padding);
	}

	.alignleft,
	.alignright {
		max-width: 48%;
		margin-bottom: rem($padding-xs);
	}
	.alignleft {
		float: left;
		margin-right: 2%;
	}
	.alignright {
		float: right;
		margin-left: 2%;
	}
}

@mixin wysiwyg-html--nowrap(){
	h1, h2, h3, h4, h5, h6,
	ul li, ol li,
	p,
	{
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
	}
}
