//include vendor grid and get responsive utlilities 
@import "../../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";

//include the base variables and mixins
@import "base/variables";
@import "base/mixins";

//include the base helpers, typography etc
@import "base/base";
@import "base/helpers";
@import "base/typography";

//include the components core which can/would be amended to that project
@import "components/core/navigation";
@import "components/core/print";
@import "components/core/alerts";
@import "components/core/forms";
@import "components/core/tables";
@import "components/core/btns";

//lists
@import "components/core/lists";
@import "components/core/lists-social";

@import "components/core/tabs";
@import "components/core/accordians";
@import "components/core/pagination";
@import "components/core/breadcrumbs";
@import "components/core/grid";

//include custom components, or modifiers of core components
@import "components/all";
@import "components/blog";
@import "components/single-post";

//blocks scss
@import "../../../em/blocks/columns/scss/index";

//include our layouts
@import "layouts/general";
@import "layouts/header";
@import "layouts/footer";