/**
 * CONTENTS
 *
 * (Pro tip: prefix your search with '#' to jump directly to titles)
 *
 * Bootstrap........Include Bootstrap pieces separately
 * Bourbon..........Mixin library
 * Custom...........Our code
 */

/**
 * #CUSTOM VENDOR
 *
 * All of our custom vendor code.
 */

@import "vendor/bootstrap";
@import "vendor/flickity";

/**
 * #BOURBON
 *
 * Include the Bourbon mixin library.
 */

@import "../../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";


/**
 * #CUSTOM
 *
 * All of our custom code.
 */

//include the base variables and mixins
@import "base/variables";

/**
 * Mixins
 *
 */
@import "mixins/animation";
@import "mixins/keyframes";
@import "mixins/align";
@import "mixins/all";
@import "mixins/bgimg";
@import "mixins/border-radius";
@import "mixins/bp";
@import "mixins/btn";
@import "mixins/center-block";
@import "mixins/circle";
@import "mixins/container";
@import "mixins/equal-height";
@import "mixins/fa-icon";
@import "mixins/font-size";
@import "mixins/font-type";
@import "mixins/full-cover";
@import "mixins/helpers";
@import "mixins/margin";
@import "mixins/overlay";
@import "mixins/padding";
@import "mixins/paddingmargin";
@import "mixins/section";
@import "mixins/shadow";
@import "mixins/typography";
@import "mixins/wysiwyg-html";
@import "mixins/animation-sequence";



/**
 * Functions
 *
 */
@import "base/functions";

/**
 * Base
 *
 * include the base helpers, typography etc
 */
@import "base/base";
@import "base/body";
@import "base/helpers";
@import "base/print";
@import "base/scheme";
@import "base/typography";

/**
 * Layouts
 * A bunch of layouts
 */
@import "layouts/l-columns";

/**
 * Blocks
 * Block contain of layouts and components, and those should styled individually with modifiers
 */
@import "blocks/b-base";
@import "blocks/b-footer";
@import "blocks/b-hero";
@import "blocks/b-page-content";
@import "blocks/b-page-navigation";
@import "blocks/b-toolbox";

/**
 * Components
 * Include the components core which can/would be amended to that project
 */
@import "components/c-background-image";
@import "components/c-btn";
@import "components/c-chromeframe";
@import "components/c-hero";
@import "components/c-overlay";
@import "components/c-page-numbers";
@import "components/c-post-small";
@import "components/c-table";
@import "components/c-wysiwyg-html";

/**
 * Animations
 * New animations should go under /animations/
 */
@import "animations/animated";

@import "animations/zoomIn";
@import "animations/fadeIn";
@import "animations/fadeInUp";
@import "animations/fadeInLeft";
@import "animations/fadeInRight";
@import "animations/fadeInUp";
@import "animations/fadeInDown";
@import "animations/flipInX";
@import "animations/flipInY";
@import "animations/shake";
