/**
 * CONTENTS
 *
 * (Pro tip: prefix your search with '#' to jump directly to titles)
 *
 * Bootstrap........Include Bootstrap pieces separately
 * Custom...........Our code
 */

/**
 * As Bootstrap is required by our core, for grids etc we need this first
 */

@import "vendor/bootstrap";

/**
 * #CUSTOM
 *
 * All of our custom code.
 */

//include the base variables and mixins
@import "base/variables";

/**
 * Mixins
 *
 */
@import "mixins/align-element";
@import "mixins/animation";
@import "mixins/animation-sequence";
@import "mixins/bgimg";
@import "mixins/bp";
@import "mixins/border-radius";
@import "mixins/btn";
@import "mixins/cta-link";
@import "mixins/center-align-content";
@import "mixins/circle";
@import "mixins/container";
@import "mixins/equal-height";
@import "mixins/fa-icon";
@import "mixins/font-size";
@import "mixins/full-cover";
@import "mixins/helpers";
@import "mixins/keyframes";
@import "mixins/overlay";
@import "mixins/spacing";
@import "mixins/scheme-html";
@import "mixins/section";
@import "mixins/shadow";
@import "mixins/transition";
@import "mixins/table";
@import "mixins/wysiwyg-html";
@import "mixins/z-index";

/**
 * #CUSTOM VENDOR
 *
 * All of our custom vendor code.
 */

@import "vendor/flickity";
@import "vendor/remodal";
@import "vendor/em-toolbox";

/**
 * Functions
 *
 */
@import "base/functions";

/**
 * Base
 *
 * include the base helpers, typography etc
 */
@import "base/base";
@import "base/helpers";
@import "base/print";
@import "base/scheme";
@import "base/typography";

/**
 * Layouts
 * A bunch of layouts
 */
@import "layouts/l-columns";
@import "layouts/l-cards";
@import "layouts/l-blog";
@import "layouts/l-divided-spotlight";

/**
 * Blocks
 * Block contain of layouts and components, and those should styled individually with modifiers
 */
@import "blocks/b-base";
@import "blocks/b-footer";
@import "blocks/b-hero";
@import "blocks/b-image-text";
@import "blocks/b-page-content";
@import "blocks/b-page-navigation";
@import "blocks/b-cards";
@import "blocks/b-blog";
@import "blocks/b-image";
@import "blocks/b-scheme";

/**
 * Components
 * Include the components core which can/would be amended to that project
 */
@import "components/c-asset";
@import "components/c-background-image";
@import "components/c-btn";
@import "components/c-blog-post";
@import "components/c-blog-post-big";
@import "components/c-blog-header";
@import "components/c-blog-single-header";
@import "components/c-blog-author";
@import "components/c-blog-taxonomy";
@import "components/c-cta-link";
@import "components/c-chromeframe";
@import "components/c-hero";
@import "components/c-list";
@import "components/c-mobile-toggle";
@import "components/c-overlay";
@import "components/c-page-numbers";
@import "components/c-page-navigation";
@import "components/c-page-navigation-footer";
@import "components/c-scheme-asset";
@import "components/c-sidebar";
@import "components/c-sidebar-widget";
@import "components/c-sidebar-ul";
@import "components/c-sidebar-search";
@import "components/c-social-media-ul";
@import "components/c-table";
@import "components/c-tags-ul";
@import "components/c-youtube-api-player";
@import "components/c-card";
@import "components/c-image";

/**
 * Animations
 * New animations should go under /animations/
 */
@import "animations/animated";

@import "animations/fadeIn";
@import "animations/fadeInDown";
@import "animations/fadeInLeft";
@import "animations/fadeInRight";
@import "animations/fadeInUp";
@import "animations/fadeInUp";
@import "animations/flipInX";
@import "animations/flipInY";
@import "animations/shake";
@import "animations/zoomIn";
