/**
 * CONTENTS
 *
 * (Pro tip: prefix your search with '#' to jump directly to titles)
 *
 * Bootstrap........Include Bootstrap pieces separately
 * Bourbon..........Mixin library
 * Custom...........Our code
 */

/**
 * #CUSTOM VENDOR
 *
 * All of our custom vendor code.
 */

@import "vendor/bootstrap";
@import "vendor/animate-css";

/**
 * #BOURBON
 *
 * Include the Bourbon mixin library.
 */

@import "../../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";


/**
 * #CUSTOM
 *
 * All of our custom code.
 */

//include the base variables and mixins
@import "base/variables";

/**
 * Mixins
 *
 */
@import "mixins/align";
@import "mixins/all";
@import "mixins/bgimg";
@import "mixins/border-radius";
@import "mixins/bp";
@import "mixins/btn";
@import "mixins/center-block";
@import "mixins/circle";
@import "mixins/container";
@import "mixins/equal-height";
@import "mixins/fa-icon";
@import "mixins/font-size";
@import "mixins/font-type";
@import "mixins/full-cover";
@import "mixins/helpers";
@import "mixins/margin";
@import "mixins/overlay";
@import "mixins/padding";
@import "mixins/paddingmargin";
@import "mixins/section";
@import "mixins/shadow";
@import "mixins/typography";
@import "mixins/wysiwyg-html";

/**
 * Functions
 *
 */
@import "base/functions";

/**
 * Base
 *
 * include the base helpers, typography etc
 */
@import "base/base";
@import "base/body";
@import "base/helpers";
@import "base/page-content";
@import "base/print";
@import "base/typography";

/**
 * Layouts
 * A bunch of layouts
 */
@import "layouts/columns";
@import "layouts/grid";
@import "layouts/grid-fixed";
@import "layouts/grid-no-gutter";
@import "layouts/masonry";
@import "layouts/table-div";

/**
 * Blocks
 * Block contain of layouts and components, and those should styled indvidually with modifiers
 */
@import "blocks/block-listing";
@import "blocks/blog";
@import "blocks/columns-block";
@import "blocks/container";
@import "blocks/example";
@import "blocks/footer";
@import "blocks/hero-block";
@import "blocks/logo-listing";
@import "blocks/post-hero";
@import "blocks/single-post";
@import "blocks/toolbox";

/**
 * Components
 * Include the components core which can/would be amended to that project
 */
@import "components/alerts";
@import "components/breadcrumbs";
@import "components/btn";
@import "components/forms";
@import "components/full-cover";
@import "components/gallery-item";
@import "components/headline";
@import "components/hero";
@import "components/icons";
@import "components/list";
@import "components/list-social";
@import "components/media-object-item";
@import "components/nav";
@import "components/nav-bar";
@import "components/overlay";
@import "components/page-numbers";
@import "components/pagination";
@import "components/post-small";
@import "components/section-header";
@import "components/social-links";
@import "components/tables";
@import "components/wysiwyg-html";
